[2020-03-15 23:59] sbertix opened #10 "Add `Paginated` Combine support"
`Publisher` and `Subscription` support is only provided for the `Singular` protocol, not the `Paginatable` one, allowing for only one output before completing.
We should rewrite this in order to account for pagination.

[2020-03-16 00:01] sbertix opened #11 "Add encrypted `Endpoint`s"
Add support for encrypted `Endpoint`s, like the ones used for following and unfollowing users, liking pictures, commenting, etc.

[2020-03-16 12:56] sbertix opened #12 "Move `ComposableRequest` to a separate project"
`ComposableRequest` and all the other _client_ methods, despite being developed around **Swiftagram**, are not **Swiftagram**-specific, and they should easily moved to their own separate project, to boost reusability and code simplicity.

[2020-03-16 12:57] sbertix opened #13 "Move docs to Github Pages and switch to Jazzy"

[2020-03-16 20:47] #10 closed

[2020-03-16 20:47] #12 closed

[2020-03-16 20:47] #13 closed

[2020-03-18 08:57] sbertix opened #15 "Add requests delay to bypass Instagram timeouts"
Instagram Private API are designed to be called following human interaction, thus they do not allow for "quick firing".
Adding an (adjustable) delay of a second or so between every request helps provide this illusion.

[2020-03-19 12:59] sbertix commented on #15
Added to [**ComposableRequest**](https://github.com/sbertix/ComposableRequest) **1.0.2**, and automatically available in **Swiftagram** when updating dependencies.

[2020-03-19 12:59] #15 closed

[2020-04-07 17:56] #11 closed

[2020-04-16 12:14] bariscck opened #18 "login_required after follow any user"
Hi @sbertix. I'm trying to follow user like this;

[code]

but its logged out me and response received like this;

[code]

[2020-04-16 12:20] sbertix commented on #18
Yep, it seems to have to do with request changes for accounts marked as `spammer`.
I can seem to make it work with all accounts I tried, but it's a known issue, apparently.
I'm definitely investigating this further.
You're on `2.1.2`, right?

[2020-04-16 12:23] bariscck commented on #18
You mean `1.2.1`, yes. I just saw https://github.com/TheM4hd1/SwiftyInsta/issues/173 this, its look like related.

[2020-04-16 12:31] sbertix commented on #18
It seems to be case, indeed.
Unfortunately it's super hard for me to fix an issue I can't replicate.
I'm gonna try some things later on the `development` branch if you don't mind testing them to see if they solve the issue for you @bariscck

[2020-04-16 13:13] sbertix commented on #18
The tentative fix on the `development` branch is now live. It still works for me, so at least I haven't made things work hahahaha
Would you mind letting me know whether it fixes the issue for you or not? 😊 @bariscck

[2020-04-16 13:21] bariscck commented on #18
@sbertix I tried but result is same, logged out me. I may have found something, I will try and inform you.

[2020-04-16 14:39] sbertix commented on #18
I'm definitely trying to update `Secret` accordingly and push a commit by tomorrow.
Is this the minimum set of cookies required? Meaning, have you tried removing one at a time until it doesn't work anymore?

[2020-04-16 15:03] bariscck commented on #18
@sbertix I tried now, interesting part is its not associate with `Cookie` format, it was false alarm. Im using **Charles Proxy** for monitoring network requests and I copy `Cookie` from another published app and paste it to **Postman** with our format and it works but our `Cookie` always logged out me. 🤔

[2020-04-16 15:06] sbertix commented on #18
Just as I worried: this is related to the authentication error I wrote about in **SwiftyInsta**, and there's not much I can do.
Have you obtained your `Secret` through `BasicAuthenticator` or `WebViewAuthenticator`?

[2020-04-16 15:15] bariscck commented on #18
Im using `WebViewAuthenticator`, but this other apps also using `WebView` its interesting, I will check your wroted issue.

[2020-04-16 15:17] sbertix commented on #18
It's related to custom user agents and `spammer` accounts.
[Here](https://github.com/TheM4hd1/SwiftyInsta/issues/163#issuecomment-609105398) my explanation in the original issue.

[2020-04-17 10:33] bariscck commented on #18
I switched `WebViewAuthenticator` to `BasicAuthenticator` and its solved this problem. I'll probably make a fake instagram login page.

Thanks @sbertix for your time and helps 😊

[2020-04-17 10:41] sbertix commented on #18
I'm still going to try and find a proper fix for `WebViewAuthenticator`, as well as adding a **SwiftagramUI** library for (at least) `UIKit` and `SwiftUI` out-of-the-box login screens, to use with `BasicAuthenticator`.

[2020-04-17 10:43] sbertix opened #19 "Add SwiftagramUI"
Due to the issues some encounters when using `WebViewAuthenticator` (#18), depending on Instagram alone and over which I have no control, the library shall provide ready-made, out-of-the-box components relying on `BasicAuthenticator`.

**The implementation will not try to mimic existing behavior (e.g. the [login form](https://www.instagram.com/accounts/login/)) or "fool" the final user or App Stor

[2020-04-17 10:44] #18 closed

[2020-04-17 11:03] bariscck commented on #18
I think the same thing. But an important recommendation; this should be `HTML` and opened with `WebView`. Otherwise, it probably will be rejected from AppStore review.

[2020-04-17 11:30] sbertix commented on #18
I'm more interested in the "proof of concept" thing, rather than the "bypassing the App Store review process restrictions".
Both implementations present their challenges and downsides (using basic authentication and mimicking a login page are both big no-nos), and app using **Swiftagram** or any other similar library are not safe for the App Store by definition, regardless of the authentication me

[2020-04-18 18:14] sbertix commented on #18
I've made a small change to `WebViewAuthenticator` to use the current `Device`, thinking maybe it might be related to Instagram keeping tap on that. Idk.
Would you mind trying the commit on `development` by any chance? @bariscck

[2020-04-18 18:24] bariscck commented on #18
@sbertix I tried now but unfortunately result is same.

[2020-04-24 05:56] bariscck opened #20 "Missing endpoint `reels_media`"
I trying to fetch and display `Stories` with multiple user ids but I could't find `reels_media` endpoint.

This endpoint already exist in [SwiftyInsta](https://github.com/TheM4hd1/SwiftyInsta).
https://github.com/TheM4hd1/SwiftyInsta/blob/e6c43dbbf2b50354842ebfd53ddb71f46aa40313/SwiftyInsta/API/Handlers/StoryHandler.swift#L273

[2020-04-26 11:33] sbertix commented on #20
Yep. Definitely planning on adding a wider range of endpoints asap.
I'm working on it in the next few days 💪

[2020-05-04 14:44] sbertix commented on #19
For now, a possible implementation for **SwiftUI** can be found in our examples.

[2020-05-04 15:27] #19 closed

[2020-05-04 15:27] #20 closed

[2020-05-05 08:03] bariscck opened #23 "`WebViewAuthenticator` not retrieve `Secret`."
@sbertix thanks for the update `2.0.0`. `WebViewAuthenticator` not retrieve `Secret` in `2.0.0`. `BasicAuthenticator` works fine.

[2020-05-05 08:04] sbertix commented on #23
I knew I messed it up somewhere hahaha
I had way too many issues trying to merge this. Apologies, I'll try to fix it by the end of the day.

[2020-05-05 15:38] sbertix commented on #23
Do you mind checking if the commit on `development` solves it, please? 😊
I can't check it myself unfortunately…
@bariscck

[2020-05-05 16:59] #23 closed

[2020-05-05 18:46] bariscck commented on #23
@sbertix sorry for the delayed response, it works fine. Thanks 😊.

[2020-05-05 18:47] sbertix commented on #23
Nothing to apologize for 😊
Thanks for pointing out the bug, man 💪

[2020-05-15 08:44] sbertix opened #25 "Instagram AJAX Login"
The endpoint used in `BasicAuthenticator` appears to be unreachable, either temporarily or, more likely, due to a change in Instagram authentication process.

As for now, please default to `WebViewAuthenticator` for logging in.

[2020-05-15 09:08] sbertix opened #26 "Add response specific types"
As of right now, all endpoints return a generic dynamic `ComposableRequest.Response`.\
Going forward I'm going to implement some `protocol`s for the most common responses.

e.g.
[code]

[2020-06-19 20:48] MariaJsn opened #29 "Get Medias"
I am trying to get user own medias. But I can not return any data.
My codes:

[code]

How can I fix it?
Thanks,
Maria

[2020-06-20 23:40] sbertix commented on #29
Hey 😊 \

I feel like this might be an error with your **Combine** logic: `task`, in your case, is an instance of `AnyCancellable`, but it's not strongly referenced anywhere, so it will be released at the end of the current cycle.\

Try something like this instead, meaning your subscription will not be disposed until the instance release, allowing it to actually run.

[code]

[2020-06-20 23:44] #29 closed

[2020-06-21 17:21] egasteam commented on #29
Thanks for your help :)
I have one more question. How can I store secret after login? And open app next time how can I use this secret to login?

[2020-06-21 17:24] MariaJsn commented on #29
You are awesome. Thank you very much.
So how can I store secret after login? And open app next time how can I use this secret to login?

[2020-06-21 19:10] MariaJsn commented on #29
Thanks for your help :)
I have one more question. Is there any event to understand task is finish?

[2020-06-22 00:00] sbertix opened #30 "Help with task completion"
Thanks for your help :)
I have one more question. Is there any event to understand task is finish?

_Originally posted by @MariaJsn in https://github.com/sbertix/Swiftagram/issues/29#issuecomment-647168548_

[2020-06-22 00:04] sbertix commented on #30
@MariaJsn I'm not really sure what you mean by "finish", but I'm assuming you mean the following…

If you're using **Combine**, you can check for the end of a subscription by doing something like this.

[code]

If you ended up using **ComposableRequest** `Task` implementation, you can just do:

[code]

[2020-06-22 00:04] #30 closed

[2020-06-22 16:35] sbertix opened #31 "Followers example crushing"
@sbertix I just tried to run the Followers example on the SE 2 simulator. It launch but when I login with correct credentials it crash :/

_Originally posted by @vlourme in https://github.com/TheM4hd1/SwiftyInsta/issues/195#issuecomment-647630949_

[2020-06-22 16:36] sbertix commented on #31
I can't seem to replicate it 🤔
Any additional info? @vlourme

[2020-06-22 16:36] vlourme commented on #31
I'll try to provide some logs or something to help, please wait 👍

[2020-06-23 08:32] vlourme commented on #31
So, here is what I am getting :
- When testing on simulators (tested on both SE 2 and iPhone 11), when I type using hardware keyboard (MacOS keyboard), it just fails to Error 5, looks like bad credentials (but I'm sure credentials are valid).
- But when I type using software keyboard from the simulator, it crash while signing in without any log detail.

This could be Xcode or Simulator errors, but

[2020-06-23 09:00] sbertix commented on #31
You need to select your account from `Xcode` project settings, or just set it to `None`.\
It's not an issue with **Swiftagram** per se.\
I'll update it so it uses `None` by default.
<img width="1300" alt="image" src="https://user-images.githubusercontent.com/1803415/85383293-14d10b00-b540-11ea-99f5-f5e3a8774a7b.png">

I'm releasing `2.1` in a couple of hours, so I would just hold on until then and

[2020-06-23 09:00] #31 closed

[2020-06-23 17:21] aslios opened #32 "How can i get profile photo url ?"
Hi Sbertix,
I try to get profile photo url from userdata like this but i cant get url;

But when i try to this code i can get,
_

_

Can you show me correct programmability way how can i get url ?
thank you

[2020-06-23 18:01] sbertix commented on #32
Hey @aslios

I'm not 100% positive on what you mean by "profile photo url", cause it seems to suggest you are maybe looking for the user's avatar, but then refer to their actual posts, so I'm just gonna try and explain both. 😊

### Posts
[code]

I'm aware this is not convenient at all, and in the next update (coming before the end of the week) you will be able to obtain it directly without needing

[2020-06-23 18:01] #32 closed

[2020-06-23 18:07] aslios commented on #32
thank you so much :)

[2020-06-26 10:29] MariaJsn opened #33 "User name and full name from secret key"
I can find user identifier in secret likse secret.identitfier.
Is there any option to get user name and full name in secret?

Thanks,
Maria

[2020-06-26 10:51] sbertix commented on #33
No unfortunately there's no such feature.\
You have to call `Endpoint.User.summary(for: secret.identifier)` in order to retrieve user info.

I might consider adding it though, it might be useful 💪

[2020-06-26 10:51] #33 closed

[2020-06-27 10:59] aslios opened #34 "Follow and Unfollow doesn't work"
Hi Sbertix,
i am using that code for follow and unfollow but they are not working.Can u help?

-Unfollow

.......

 -Follow

.......

[2020-06-27 11:03] Goktug commented on #26
@sbertix  Could you provide some examples regarding how to parse User object?

[2020-06-27 11:06] sbertix commented on #34
Hey 💪\
Yep. I'm aware of this, and it's due to a change in the signing code of the request.\
I'm fixing it ASAP

[2020-06-27 12:15] aslios opened #35 "How can i get posts which i'm tagged in?"
Hi Sbertix :)
i cannot get post  which i'm tagged in, i am using this endpoint is it true ?
_

_

[2020-06-27 12:45] Goktug opened #36 "Task Cancellation Doesn't Work"
[code]

I don't know that I'm using the library correctly but there is an issue.  When this code runs, the results in the console like this;

[code]

It seems like the task is still running. Also, I checked from Charles, the app is still sending requests to the API. When I call `cancel()` method, I want to stop sending requests. Could you help me on this, please?

[2020-06-27 12:52] Goktug commented on #36
I have just found a solution but I think it is a bug. When you call `resume()` after `cancel()`, it stopped.

[code]

[2020-06-27 13:16] sbertix commented on #35
The endpoint you're using is to return actual pics tagged with "#tags #like #this".\
Use `Endpoint.Feed.posts(including:)` for user tags 💪

[2020-06-27 13:16] #35 closed

[2020-06-27 13:18] sbertix commented on #36
Hey 💪
Thanks for pointing this out.\
I'm gonna investigate this and post a fix asap.

[2020-06-28 09:40] Goktug opened #37 "Send a request with starting from the specific page"
We can pass a page id parameter to the Endpoint class and then our request can start from the specific page. It would be a great feature.

**Example Usage:**
`Endpoint.Media.comments(for: mediaId, pageId: "XXX")`

[2020-06-28 09:44] sbertix commented on #37
Hey 😊
Currently working on adding this back 💪
Custom "page 0" cursors were a thing in **ComposableRequest** < 4.0, but, as I removed them, I'm gonna add custom parameters to all relevant endpoints.

[2020-06-28 09:47] Goktug commented on #37
Thank you @sbertix If you need any help, let me know!

[2020-06-28 10:13] sbertix commented on #37
Thx man 💪\
Feel free to contribute any way you like 😊\
PRs are always welcome

[2020-06-28 17:23] sbertix commented on #26
@Goktug, check out [`User`](https://github.com/sbertix/Swiftagram/blob/development/Sources/Swiftagram/Responses/User.swift) references in the `development` branch, for an idea on how to parse this all 💪

[2020-06-29 15:12] Goktug opened #39 "next_max_id issue"
In Instagram API, next_max_id doesn't need to be a string all the time.

This is the example response of `Endpoint.Friendship.followed(by: XXX)`
[code]

This is the example response of `Endpoint.Friendship.following(XXX)`

[code]

As you can see, next_max_id is can be an integer or a string. Therefore, the library thinks that there is no other page, because of its integer. So, it doesn't send anot

[2020-06-29 17:42] #39 closed

[2020-06-29 17:51] #34 closed

[2020-06-29 17:51] #37 closed

[2020-06-29 18:23] Goktug opened #41 ""useragent mismatch" error"
I think version `2.2.0` might broke something because all APIs are giving this response:

`{
  "message": "useragent mismatch",
  "status": "fail"
}`

[2020-06-29 18:25] sbertix commented on #41
`Secret`s from `2.1.*` are not compatible with `2.2.0`.

[2020-06-29 18:35] Goktug commented on #41
Still not working. Even I deleted the app and then install it again.

My request header like this and I am trying to send a request from the simulator.

[code]

[2020-06-29 18:38] sbertix commented on #41
Totally messed it up.\
Apparently I must have messed something up in the commit process, cause I was super positive I fixed that.

I know it should be avoided, but I'm re-releasing `2.2.0`, hoping this was caught soon enough.\
Thank you, man.

[2020-06-29 18:38] #41 closed

[2020-06-29 18:49] Goktug commented on #41
It is working now. Thank you, man!

[2020-06-29 19:48] aslios opened #43 "Recent activities"
Hi Sbertix :)
How can i get recent activities? for example

I couldnt find endpoint about this :/ can u help me please ?

[2020-06-29 19:59] sbertix commented on #43
It's not yet a feature unfortunately.\
As the library it's getting more in its functionality, though, I'm definitely gonna expand all available endpoints, starting with the next release, that I hope to publish by the end of the week 💪
@aslios

I'll close this issue, once it's added.

[2020-06-29 20:20] sbertix opened #44 "SwiftagramCrypto"
In order to facilitate people not wanting to deal with encryption (for compliance reasons), and to uniform the codebase, starting from `3.0.0` we are renaming **SwiftagramKeychain** to **SwiftagramCrypto**, and migrating all existing `Endpoint`s requiring `CryptoSwift` into it.

[2020-06-29 20:23] sbertix opened #45 "Telegram channel"
If you require immediate support, or to be notified in case of critical bug fixes and new releases, you can now subscribe to **Swiftagram**'s Telegram [channel](https://t.me/swiftagram).

**Support requests should only be sent after opening an issue, when prompted to. Do not abuse it.**

[2020-06-29 20:24] #45 closed

[2020-06-30 18:11] aslios opened #46 "Followers / Following endpoint error"
Hi Sbertix,
I so much business ur api nowadays :) but i have problem please help me.I created a algorithm for find my lost followers and gained followers.Because of this i get my followers and my following  via ur api and compare.. But when i try to get my followers or following **( _Endpoint.Friendship.followed(by: secret.identifier) run this code 2-3 time_  )**    i get this error => **"Please w

[2020-06-30 18:16] sbertix commented on #46
It's mostly about timing, you just need to wait longer before pagination requests.\
That's the only trick.

Most apps on the App Store actually scrape the followers page, instead of using the private API, which doesn't appear to have the same rate limits.

Unfortunately followers/following endpoints are extremely restricted, and you might trigger that same error even just manually checking your In

[2020-06-30 18:16] #46 closed

[2020-07-04 15:47] sbertix commented on #33
I've thought about this a lot and I came to the conclusion that it's definitely a feature that it's not worth implementing: too many drawbacks.\
For starters, `Secret` is always passed as read-only to all `.locking()` concrete implementations, so there's no way to update it consistently and syncing it to the correct `Storage`, as it's 100% `Storage` agnostic right now (as it should be, imho).\
Plu

[2020-07-06 19:45] #43 closed

[2020-07-06 19:45] #44 closed

[2020-07-16 21:34] BoikoArtem30091994 opened #48 "Use Swiftagram without swiftUI."
- [x] I've searched past issues and I couldn't find reference to this.
- [x] I've checked out all provided _Examples_.

**Info**
Write your question or whatever you need, related to **Swiftagram**.

Hello. Can't embed swiftagram usage in UIKit. Should the library work not in swift ui or is it not available at the moment?

[2020-07-17 07:07] sbertix commented on #48
Of course you can use it with `UIKit` 😊.

You can rely on `LoginViewController` from the Followers example, or just build your own custom one.

[code]

[2020-07-17 07:09] BoikoArtem30091994 commented on #48
I try this code to implement in my project. But WKWebView does not load Instagram login, you can try to create the project and set up your own login. It's not working

[2020-07-17 07:10] #48 closed

[2020-07-17 07:12] sbertix commented on #48
What version of Xcode are you on?\
What Swift toolchain version are you using?\
Cause I feel like that might be the issue there, since it does work on my part 🥺

[2020-07-17 07:16] BoikoArtem30091994 commented on #48
Xcode 11.5. It seems to me that the problem is in the WebViewAuthenticator, because at first I built my project with UIkit and an example from Followers, and it does not work, and then using swift UI everything is fine.
No mistake just white WKWebView. If I simply create a request with example url, then everything works fine, that is the problem is not in wkwebview.

[2020-07-17 07:42] BoikoArtem30091994 commented on #48
Simple example implementation

import UIKit
import WebKit
import Swiftagram
import SwiftagramCrypto

class ViewController: UIViewController {

    var webView: WKWebView!

    override func viewDidLoad() {
        super.viewDidLoad()

        webView = WKWebView(frame: .zero)
        self.view.addSubview(webView)
        webView.translatesAutoresizingMaskIntoConstraints = false

        NSLayoutCo

[2020-07-17 07:43] BoikoArtem30091994 commented on #48
Simple example implementation
`
import UIKit
import WebKit
import Swiftagram
import SwiftagramCrypto

class ViewController: UIViewController {

    var webView: WKWebView!

    override func viewDidLoad() {
        super.viewDidLoad()

        webView = WKWebView(frame: .zero)
        self.view.addSubview(webView)
        webView.translatesAutoresizingMaskIntoConstraints = false

        NSLayoutC

[2020-07-17 07:45] sbertix commented on #48
I wrote a new UIKit project, added a `LoginViewController` like I defined it above, and tested it in the simulator, and it still works for me 😢
I'll check your code above to see if there's something missing there.

<br />
<img width="961" alt="image" src="https://user-images.githubusercontent.com/1803415/87761609-0bbb1d00-c812-11ea-8467-23d7242ef827.png">

[2020-07-17 07:47] sbertix commented on #48
I removed it by mistake @BoikoArtem30091994 😢 do you mind reposting it? Apologies

[2020-07-17 07:47] BoikoArtem30091994 commented on #48
My implementation slightly different. I will try according to your option. Thank you for your quick answer. I will give feedback.
<img width="785" alt="Screenshot 2020-07-17 at 10 46 27" src="https://user-images.githubusercontent.com/31438215/87761918-eda5ea80-c81a-11ea-914c-d536daa41a5d.png">

[2020-07-17 07:52] BoikoArtem30091994 commented on #48
It's working. Thank you for your support.

[2020-07-17 07:55] sbertix commented on #48
When you reassigning the `WKWebView` in row 41, you're not adding the new one in the view hierarchy, so it won't show.\
Basically everything between 21 and 40 is useless cause it's scrapped once you assign a new `webView` in 41.

I'll add auto layout constraints to `LoginViewController` example in Followers, so people can just copy and paste it, for now you can just do:

[code]

[2020-07-17 22:54] sbertix opened #49 "Test issue"
Tesing the newly added `closure.yaml`.

[2020-07-17 23:17] sbertix commented on #49
_If you found this useful, please consider starring :start: this repo, or even [sponsoring it](https://paypal.me/sbertix) :dollar:.<br />Even just a $1 can help this keep running._<br />_Thank you for using **Swiftagram**._

[2020-07-17 23:20] #49 closed

[2020-07-17 23:21] sbertix commented on #49
_If you found this useful, please consider starring :star: this repo, or even [sponsoring it](https://paypal.me/sbertix) :dollar:.<br />Even just $1 can help me maintain this._<br />_Thank you for using **Swiftagram**._

[2020-07-20 04:29] MatoMA commented on #25
Hi @sbertix, do you have any plans to support Android API?
Web-Login-Encryption needs AES-GCC (SwCrypt) and Sealed Box (swift-sodium).
Android-Login-Encryption needs RSA and AES-GCC ( all in SwCrypt, one dependence).
Google & Apple want to block cookie usage in browser in the future. I think it is also a good idea to implement Android API as a backup auth method.

Ref:
https://webkit.org/blog/1021

[2020-07-20 06:18] sbertix commented on #25
Yep. I had started working on it on the `authentication` branch but I didn't have time to actually finish it.\
And I'm dropping support for Web login entirely.

[2020-07-20 19:21] MariaJsn opened #50 "Story Viewers"
I could not find story viewers endpoint. When I get stories, I can get only 5 viewers not all.
Is there any story viewers end point?

[2020-07-21 09:21] sbertix commented on #50
Hey 😊\
You're right, there's not. Totally a big oversight, I'm adding it ASAP.\
Thank you 💪 @MariaJsn

[2020-07-21 14:33] #50 closed

[2020-07-21 14:34] sbertix commented on #50
_If you found this useful, please consider starring :star: this repo, or even [sponsoring it](https://paypal.me/sbertix) :dollar:.<br />Even just $1 can help me maintain this._<br />_Thank you for using **Swiftagram**._

[2020-07-21 14:41] sbertix commented on #50
I've added it in the last update (apologies for the auto-comment above).\
`Endpoint.Media.Stories.viewers(for:startingAt:)`

[2020-07-22 10:27] sbertix commented on #25
I'm adding back 2FA support by the end of the day and then I'm pushing the new `BasicAuthenticator` into `SwiftagramCrypto`.\
Just a heads up in case you wanna implement it on **SwiftyInsta** or something @MatoMA 💪

[2020-07-22 14:29] #25 closed

[2020-07-22 14:30] sbertix commented on #25
_If you found this useful, please consider starring :star: this repo, or even [sponsoring it](https://paypal.me/sbertix) :dollar:.<br />Even just $1 can help me maintain this._<br />_Thank you for using **Swiftagram**._

[2020-07-23 14:28] jerry317 commented on #25
@sbertix just donated $50

[2020-07-23 14:31] sbertix commented on #25
Really appreciated man. Thank you.

[2020-07-27 12:48] MatoMA opened #54 "Migrate from Android API to iOS API"
- [x] I've searched past issues and I couldn't find reference to this.

**Is your feature request related to a problem? Please describe.**

When an iOS user logs in with Swiftagram, he/she will receive a security alert email: logging in with an XianMi Android device. This gives an impression of account-being-hacked.
In some cases, Instagram will restrict login on an unknown device in a totally dif

[2020-07-27 12:53] sbertix commented on #54
Custom user agents are already supported in `WebViewAuthenticator`, unfortunately, as the user agent won't match the one used by the API app, which needs to be an Android device, all encrypted endpoints won't work (everything else should be fine, though).

I might try and figure out whether all endpoints still work using Instagram iOS app API (i.e. simply adjusting the user agent), but especially

[2020-07-27 13:07] MatoMA commented on #54
The form of deviceIdentifier likes this (if it still works):
    let hashedGuid = guid.uuidString.MD5
    return "iOS-\(hashedGuid.prefix(16))"

[2020-07-28 08:16] sbertix opened #55 "Upload media"
- [x] I've searched past issues and I couldn't find reference to this.

There are currently no Swift libraries that allow users to easily post pictures/videos.\
We should work on providing a suitable implementation in **Swiftagram**.

- [x] Upload pictures (`4.0.0`)
- [x] Upload videos (`4.1.0`)
- [ ] Upload stories
   - [x] Pictures + stickers (`4.1.0`)
   - [ ] Videos (`4.1.0`)

[2020-07-28 09:01] sbertix opened #56 "Move `Storage` to ComposableRequest"
Most of client-related code has been refactored into [**ComposableRequest**](https://github.com/sbertix/ComposableRequest), but there are still some oddities, like `Storage`, and its concrete implementation.

This requires moving `KeychainSwift` to **ComposableRequest** (most likely into a similar **ComposableRequestCrypto**), but other than that, it should be pretty quick to implement.

[2020-07-29 14:16] NathanFallet opened #57 "Additional endpoints"
- [x] I've searched past issues and I couldn't find reference to this.

**Is your feature request related to a problem? Please describe.**
I wanted to implement some features in my project but some endpoints are missing. For example, you can retrieve posts' comments, but can't comment a post. You can retrieve saved posts, but can't save a post.

**Describe the solution you'd like**
Provide new end

[2020-07-31 09:14] valentizx opened #59 "‘static func stories<C: Collection>(by identifiers: C)’ always return error."
- [x] I've searched past issues and I couldn't find reference to this.

Hi Sbertix,

I  try to get **reelMedia** list by:
[code]
But no matter I if the parameter I pass in is `archived media's id` or `user's pk`:
[code]
It always return an error like this:
[code]

In [SwiftyInsta](https://github.com/TheM4hd1/SwiftyInsta)
Sometimes I get the correct result, sometimes I get empty data.

Sorry 4 my p

[2020-07-31 09:21] sbertix commented on #59
Hey @valentizx 😊\
I'm gonna look into this ASAP and update you.

[2020-07-31 09:38] sbertix commented on #59
The changes in #60 made it work for me.\
I'm merging it right now and bumping to `3.1.1`.\
Let me know if it fixes for you 💪

[2020-07-31 09:39] #59 closed

[2020-07-31 09:40] sbertix commented on #59
_If you found this useful, please consider starring :star: this repo, or even [sponsoring it](https://paypal.me/sbertix) :dollar:.<br />Even just $5 can help me maintain this._<br />_Thank you for using **Swiftagram**._

[2020-07-31 10:53] sbertix opened #61 "Test issue"

[2020-07-31 10:53] #61 closed

[2020-08-08 16:17] sbertix opened #62 "Test"

[2020-08-08 16:17] #62 closed

[2020-08-09 10:05] senolatac opened #63 "2FA on iOS Simulator"
- [x] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
3.1.1

**Describe the bug**
Two Factor Verification was tried with your example project on ios simulator then error message was taken like:
**We couldn't connect to Instagram. Make sure you're connected o the internet and try again.**

**To reproduce**
Steps to reproduce the behavior:
1. Run Example proj

[2020-08-09 11:51] sbertix commented on #63
Hey @senolatac 💪\
Do you have any more info to actually replicate this?\
Cause that's a weirdly specific error message, and it seems like it's not related to **Swiftagram**.\
Since I'm assuming you checked your connection and everything, are you perhaps using LittleSnitch or something similar?\
Did you try it on an actual device?

[2020-08-09 17:19] senolatac commented on #63
hey @sbertix
Details:
- WebViewAuthenticator
- Same error on real device.
- It's not related with network.
- 2FA is not sms-message, it's authenticator-tool...

But I think that it's a common problem because I tested it on live third party applications. They have this problem also. But it works on instagram self site very well.

[2020-08-09 17:23] sbertix commented on #63
Okay... so if it's an issue with `WebViewAuthenticator`, and it involves the webpage per se, I think there's not much I can do about it...\
I tried it again and it works for me 😢\
Are you perhaps using a custom user agent?

[2020-08-10 06:28] senolatac commented on #63
Thanks for your investigation @sbertix
Most probably, it's related with my account.

[2020-08-10 06:28] #63 closed

[2020-08-10 10:55] senolatac opened #64 "Customize Webview for Example Project"
- [x] I've searched past issues and I couldn't find reference to this.
- [x] I've checked out all provided _Examples_.

**Info**
https://github.com/sbertix/Swiftagram/blob/main/Examples/Followers/Followers/Login/LoginView.swift in here, I just want to customize content of webview. Now, Webview looks like a sheet. I want to show it in a page like:
<img width="355" alt="Screen Shot 2020-08-10 at 9 4

[2020-08-10 13:19] sbertix commented on #64
It looks like a sheet cause it's presented that way (row 48 in _FollowersView.swift_), but it has nothing to do with the view implementation per se.\
`LoginView` just describes a full size web view and nothing more.\
It's not really **Swiftagram** related, as it's about how to use **SwiftUI** or **UIKit**, but if you let me know which framework you're relying on in your app, I'd be happy to help r

[2020-08-10 13:40] sbertix commented on #64
In case you're using **SwiftUI**, you can just customize _LoginView.swift_, like below, and you'll get the exact result of your screenshot (of course you can customize header and footer to your needs).
@senolatac

<Img width="250" src="https://user-images.githubusercontent.com/1803415/89788376-597c2a00-db1f-11ea-8c57-e62b9c3649a1.png" align="right" />

[code]

[2020-08-10 13:40] #64 closed

[2020-08-16 11:28] senolatac opened #65 "Fetch Email Address of current user"
- [x] I've searched past issues and I couldn't find reference to this.
- [x] I've checked out all provided _Examples_.

**Info**
Write your question or whatever you need, related to **Swiftagram**.

How can I fetch email address of current user with using Swiftagram Endpoint?

[2020-08-16 11:29] senolatac opened #66 "Retrieve password from Secret"
- [x] I've searched past issues and I couldn't find reference to this.
- [x] I've checked out all provided _Examples_.

**Info**
Write your question or whatever you need, related to **Swiftagram**.

Is it possible to retrieve Password of current user from Secret or Keychain?

[2020-08-16 11:40] sbertix commented on #66
No, there's no way to do so.\
`Authenticator` are agnostic in the way they handle authentication by choice, not expecting a password, and definitely never persisting it.\
Not only that, it's already a big privacy concern using authentication cookies like we do, having direct control over a user's password is much much worse.

That said, should you require that, you shouldn't have trouble implement

[2020-08-16 11:40] #66 closed

[2020-08-16 11:43] sbertix commented on #65
It's not currently in the repository by choice, as I don't want people to spam users (also linked to your other password issue), but the endpoint is out there, and you should be able to extend `Endpoint` with it super easily by looking at how all others are implemented.

[2020-08-16 11:43] #65 closed

[2020-08-16 12:16] sbertix commented on #65
If you need further instructions, [send me a message](https://telegram.me/sbertix) @senolatac

[2020-08-17 17:30] #26 closed

[2020-08-17 17:30] #56 closed

[2020-08-17 17:30] #57 closed

[2020-08-17 22:33] joshuazmiller opened #68 "Updating Followers to `4.0.0` results in crash"
Hey @sbertix!

Just upgraded to 4.0. Great stuff! Thank you!

Question about the purpose of the following snippet in the example code:

[code]

What does this snippet aim to accomplish? What negative things might happen when omitting this snippet?

---

I got `Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value:`
for this line:
`.map { (data: try? JSONEncoder().encode

[2020-08-17 22:36] sbertix commented on #68
Thanks man :blush:
It simply persists `current` in `UserDefaults` so it's already available on next launch.\
Weird that it fails though… what Xcode version are you on? @joshuazmiller

[2020-08-17 22:41] joshuazmiller commented on #68
I'm on XCode Version 11.6 (11E708). Cleaning the project didn't solve...

[2020-08-17 22:45] sbertix commented on #68
Could you add `Logger.level = .full` at the beginning of `init` and paste the content of the `User` response?\
Apparently you get a `User` back, but for some reason the primary key is not parsed correctly… 🤔

[2020-08-17 22:54] joshuazmiller commented on #68
The User model stored in `current` does appear to properly have the identifier as I see `identifier: Optional("012345678")` inside it. I think it's the mapping code that has a nil value in it...

[2020-08-17 23:00] sbertix commented on #68
I can actually just remove the code, tbh, but I would really like to fix it, but I can't make it crash myself… 😢\
Thing is the mapping just encodes the underlying `Wrapper` you receive, after making sure `User` is non-nil, so it shouldn't cause any `identifier`-related issues.\

Thanks. Let me know if you get to narrow it down 💪

[2020-08-17 23:16] sbertix commented on #68
Do you mind resetting the SPM package cache (as it might have locked an earlier version of **ComposableRequest** that had a related issue) and changing the code to the snippet below?\
Cause if it's related to `identifier` it must show it's `nil` there.

[code]

[2020-08-17 23:20] joshuazmiller commented on #68
I believe I figured out what is going on..

Well what if someone already persisted a model that didn't have the underlying identifier in it? For instance, say you were to manually persist to `UserDefaults` a partial `User` model object (like a custom object) that was missing the `identifier`. Then this value would be nil and cause the crash.

So, I had been experimenting with a custom User model c

[2020-08-17 23:24] sbertix commented on #68
Yep… this is a new addition to `4.0.0`.\
As **Followers** is supposed to just be an example, this should virtually affect nobody.\
Despite not being urgent, as it's not a bug in the codease, I'm stilling adding a method to delete previous versions persisted defaults in `4.1.0`.\
Thank you 💪

[2020-08-17 23:25] #68 closed

[2020-08-19 00:38] joshuazmiller opened #69 "Unable to compile"
- [x] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
`4.0.0`

**Describe the bug**
Unable to archive build for distribution. Get `Integer literal '9999999999' overflows when stored into 'Int'` error upon compilation.

**To reproduce**
Steps to reproduce the behavior:
1. Compile for Generic iOS device
2. iOS deployment target is 13.0

**Expected behavior**

[2020-08-19 00:42] sbertix commented on #69
I'm assuming you're running it on a 32-bit architecture, as `Int` is only the same size of `Int64` on 64-bit ones.\
I didn't consider that might be a problem.\
I'm pushing an update rn.

[2020-08-19 00:45] joshuazmiller commented on #69
No worries :). Thank you! I believe I'm on a 64-bit though. My Mac is an Intel i9...

[2020-08-19 00:48] sbertix commented on #69
Then I have no clue why `Int` would not allow for a value way smaller than `9,223,372,036,854,775,807` hahaha
Either way, let me know if this fixes it 💪

[2020-08-19 00:49] #69 closed

[2020-08-19 00:53] joshuazmiller commented on #69
Yup, it succeeds now! Thanks! 👍

[2020-08-19 00:54] sbertix commented on #69
Thank you man for pointing it out so I could fix it for everyone 💪

[2020-08-22 13:39] Goktug opened #71 "XCode couldn't fetch latest package version"
Hey @sbertix

I tried to update the package version from `2.2.0` to the latest version but I couldn't do it.

I tried these steps:

1. File > Swift Packages > Update to Latest Package Versions (_not worked_)
2. File > Swift Packages > Reset Package Caches > **Step 1** (not _worked_)
2. File > Swift Packages > Resolve Package Versions > **Step 1** (not _worked_)

I think I might be missing somethin

[2020-08-22 14:20] #71 closed, assigned to sbertix

[2020-08-23 01:00] joshuazmiller opened #72 "Endpoint.Media.Posts.comments not returning (full) list of comments."
- [x] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
4.0.1

**Describe the bug**
Media.Posts.comments endpoint fails to return (full) list of comments.

**To reproduce**
Steps to reproduce the behavior:
1. Comment on a post (for an account logged in with Swiftagram via Instagram from another account)
2. Retrieve comments via Endpoint.Media.Posts.comments
3

[2020-08-23 21:09] #72 closed

[2020-08-23 21:45] joshuazmiller commented on #72
Thank you 🚀

[2020-08-25 09:40] NathanFallet opened #74 "Add `code` and `hasLiked` to `Media`"
- [x] I've searched past issues and I couldn't find reference to this.

**Is your feature request related to a problem? Please describe.**
Some missing properties to media

**Describe the solution you'd like**
Add theses properties to `Media` struct

[2020-08-25 09:44] sbertix commented on #74
Thanks man.\
Do you mind amending the commit so that it follows naming guidelines (i.e. changing it to _Add `code` and `hasLiked` to `Media`_)?\
I'm merging it into `4.0.3` later together with the uploading fix (hopefully).

[2020-08-25 13:58] #74 closed

[2020-08-25 21:24] sbertix opened #77 "Improve on `Wrappable` responses"
`4.0.0` brought an initial support to statically typed response models, through the new [**ComposableRequest**](https://github.com/sbertix/ComposableRequest) `Wrapper`.\
This will be expanded further in `4.1.0`.\
Some new features you can expect to be added are:
- new properties for pagination values
- new properties for failure messages
- `Thread` becomes `Conversation`, in order to avoid naming

[2020-08-26 19:31] mycroftcanner commented on #54
What's the status? Do you need any help?

[2020-08-26 19:36] sbertix commented on #54
Hey @mycroftcanner.\
I haven't actually started working on this: it's definitely planned for `4.1.0`, but it's gonna be the last thing I work on before release, as I feel like it's not as important as everything else.\
If you feel like forking the repo and testing some iOS user agents and devices on the `development` branch code (I'm mostly worried about `BasicAuthenticator`), feel free: it'd be a

[2020-08-27 13:43] mycroftcanner opened #78 "How to paginate one page at a time?"
I want to be able to load a number of pages at a certain rate and then resume synchronisation at a much later time if necessary.

In README.md it says we can use `.task(maxLength: 10, ...)` and just resume().  However, I'd rather save a cursor and be able to resume using `startingAt` even my app gets killed by the system.

I couldn't figure out a way to get a cursor.

[2020-08-27 13:47] sbertix commented on #78
Hey @mycroftcanner.\
I'm actually adding "pre-parsed" support for pagination parameters in `4.1.0` (the `development` branch should provide an initial working version).\
Otherwise, for now, I suggest simply inspecting the underlying `Wrapper`.

[code]

[2020-08-27 14:33] #78 closed

[2020-08-27 22:58] sbertix commented on #59
I've found out that the error can still occur on `4.0.*`.\
I've pushed a fix that will be released with `4.1.0`.\
Sorry.

[2020-08-31 20:42] sbertix commented on #54
Since I ended up adding stories and video posts upload in `4.1.0`, I'm moving this to a future release, so I have more time to perfect it. Just fyi.

[2020-08-31 21:47] #55 closed

[2020-08-31 21:48] #77 closed

[2020-09-01 15:40] sbertix opened #82 "Test"
/check-dependencies

[2020-09-01 15:40] sbertix commented on #82
/check-dependencies

[2020-09-01 15:41] sbertix commented on #82
/dependencies

[2020-09-05 10:37] MariaJsn opened #83 "Getting error after update"
I update the latest version of Api and I am getting following error for some users and app crash.
Before update I did not get any error like this. Is it related with Swiftagram library?

Error:
#1 (null) in partial apply for thunk for @escaping @callee_guaranteed (@guaranteed Result<TrayItemUnit, Error>) -> () ()

Thanks,
Maria

[2020-09-05 10:50] sbertix commented on #83
Hey @MariaJsn 😊\
Do you mind sharing the bit of code that appears to be producing the error?\
What versions were you on and what version of **Swiftagram** are you on now?

[2020-09-05 12:06] MariaJsn commented on #83
Hi Sbertix :)
I do not have to much detail about error. Some of the users getting error and after that app crashed. I tried many time and did not get any error with my account. I get this error from Xcode organizer crashes.
Before I was using 3.1.1 and updated to 4.0.3 version

[2020-09-05 12:14] sbertix commented on #83
Do you mind sharing at least the symbolication error?\
You can send it to me on [telegram](telegram.me/sbertix).

[2020-09-05 12:20] egasteam commented on #83
Yes I understand you, not I am checking the how I can get the symbolicated log file :)

[2020-09-05 13:12] MariaJsn commented on #83
So sorry my stupid question but how can I create/get a symbolicated log?

[2020-09-05 13:14] sbertix commented on #83
The crash logs you get from `Xcode` should already be symbolicated 😊\
Just send that if you can.\
And don't worry it's not a stupid question 💪

[2020-09-05 13:22] MariaJsn commented on #83
Sorry Sbertix I am not using telegram. I uploaded to wetransfer.
This is the link of the symbolicated file. https://we.tl/t-8yaUotWT1K

[2020-09-05 13:26] sbertix commented on #83
Mmh 🤔 it does not seem to be related to **Swiftagram** per se, but with something that happens when the response closure fires.\
Do you mind sharing the code for `Followers.swift`? You can send it to stefano@bertagno.com, you don't have to make it public. I'm assuming at row 17, you're making the call and then something happens.

[2020-09-05 13:27] MariaJsn commented on #83
import RealmSwift

class Followers: Object {

    @objc dynamic var Id = 0
    @objc dynamic var userName = ""
    @objc dynamic var fullName = ""
    @objc dynamic var profilePicUrl = "" //Line 17
}

[2020-09-05 13:30] sbertix commented on #83
So I guess the issue is, as always, related to `Realm`. 😊\
Are you perhaps passing `Realm` or `Object` instances around? Or strongly referencing them, instead of recreating them every time by referencing their `primaryKey`, or using the appropriate thread safe wrappers?

[2020-09-05 13:34] MariaJsn commented on #83
I am happy to be not related with Swiftagram. I am using id for primary key and It was working. Then it means realm updated codes and borek something. I will check the realm part deeply.
Thanks for your all help Sbertix. You are the king :)

[2020-09-05 13:36] #83 closed

[2020-09-14 13:40] aslios opened #84 "Instagram Api"
Hi Sbertix,
Can i ask u something ?
I need  android private instagram api like yours.Do u know that ? i need api which contains original instagram login.If you know can u share with me ?

Thank You

[2020-09-14 15:55] sbertix commented on #84
Hey @aslios 😊
I'm sure by search for "Instagram Private API" and the programming language you're writing your app in, you should find several entries. Unfortunately I don't have one to recommend.
Good luck :v:

[2020-09-14 15:55] #84 closed

[2020-09-20 09:05] MariaJsn opened #85 "KeychainStorage with iOS version 12"
Hey Sbertix :)

When I tried to open app I am getting error from KeychainStorage with iOS version 12.4.

My code:
"KeychainStorage< Secret >().removeAll()" or "KeychainStorage< Secret >().all().first"

Can we fix this issue please?

[2020-09-20 11:25] sbertix commented on #85
Hey 👋
I can't test it right now. Do you mind telling me more about the error you're getting?
I'm assuming it's an issue with **KeychainSwift** thought, right?

[2020-09-20 13:52] MariaJsn commented on #85
Yes you are correct, there is an issue in KeychainSwift.
I am getting error in that line and application crashed. It says 'EXC_BAD_ACCESS', There is no more detail message

[2020-09-21 10:11] MariaJsn commented on #85
Sbertix is there any news about error?

[2020-09-21 10:54] sbertix commented on #85
I didn't have the chance to actually look into it, unfortunately, as I'm not home.
But, as it appears to be **KeychainSwift** related, I suggest maybe filing an issue on their repo, although it looks like it might be discontinued.
I might look for an alternative implementation in the meanwhile.

[2020-09-21 18:58] MariaJsn commented on #85
I already opened an issue for KeychainSwift. When you come back to your home please can you check it too? I am sure you can find better solution.

[2020-09-21 20:07] sbertix commented on #85
I will 💪
And sorry for the delay.

[2020-09-22 06:17] MariaJsn commented on #85
Ok waiting your repsonse :)

[2020-09-25 17:26] sbertix commented on #85
I've pushed an update for [**ComposableRequest**](https://github.com/sbertix/ComposableRequest) with a workaround for `KeychainSwift` thread-safety issues.
By updating **Swiftagram** to the last version, and reloading SPM cache, it should all work now.
Let me know @MariaJsn

[2020-09-25 17:26] #85 closed

[2020-09-25 17:32] sbertix commented on #54
I've tried several implementations to make all features work with the iPhone API, but, especially for authentication, it's way beyond the scopes of this project, and the time I can dedicate to it.
Apologies.

[2020-09-25 19:53] MariaJsn commented on #85
Hi Sbertix,
It did not work for me. I update the Swiftagram library (also try with to remove Swiftagram and added again) then remove application from simulator which has IOS 12.4 version. Cleaned build folder and run it. But I get the same error in "KeychainStorage<Secret>().removeAll()" code.

[2020-09-25 19:59] sbertix commented on #85
Does it say you're using `ComposableRequest 4.2.2` in Xcode? @MariaJsn
Otherwise it looks like the issue might not be one of thread safety, like people were suggesting in your issue at **KeychainSwift** :cry:

[2020-09-25 20:02] MariaJsn commented on #85
yes ComposableRequest 4.2.2 in Xcode. Really I could not understand the real issue. I am trying to find solution last 1 week but I could not find anything.

[2020-09-26 10:10] MariaJsn commented on #85
@sbertix Do you have any suggestion for this error? Also it was working before update the latest version of Swiftagram.

[2020-09-26 10:15] sbertix commented on #85
Nothing was changed in the implementation of `KeychainStorage` before the update I pushed yesterday, meaning the bug you're getting either depends on **KeychainSwift** or your implementation.
I wasn't even capable of replicating it, meaning it's probably either a "case specific" occurrence for your code.
If you wanna share the code that raises the error, I'm more than happy to give it a look for y

[2020-09-26 11:17] MariaJsn commented on #85
@sbertix you can find code in below link. It is working witj ios 13 and 14 but not working with ios 12.4
https://we.tl/t-CPNeSKoIko

[2020-09-26 15:13] MariaJsn commented on #85
Hey @sbertix
Did you get the same error like me?

[2020-09-28 08:43] MariaJsn commented on #85
@sbertix Sorry to disturb you, do you have any update?

[2020-09-28 12:54] sbertix commented on #85
I do, and after googling for a while, I feel like this might not even be a **KeychainSwift** problem, but a Swift compiler one, meaning there's nothing anyone can do, tbh.
Sorry.

[2020-09-28 13:42] MariaJsn commented on #85
Ok I will try to store in local storage if version is 12. Thanks for your all help @sbertix

[2020-09-28 13:48] sbertix commented on #85
I'm testing a different implementation of a keychain wrapper as we speak.
Do not change your code yet as I might be able to make `KeychainStorage` work.

[2020-09-28 14:04] sbertix commented on #85
Nope. Still not working. Sorry :cry:

[2020-09-28 17:32] MariaJsn commented on #85
It is a really stupid bug and nothing clear. I am trying to store Secret value in a different way but it is not working yet

[2020-09-29 08:20] MariaJsn commented on #85
@sbertix Is there any way to store secret in realm db or userdefaults? (I tried but I could not find a way)

[2020-09-29 09:17] sbertix commented on #85
Sure. Just use `UserDefaultsStorage` instead of `KeychainStorage`.
No need to store it yourself btw, you can pass it directly to `WebViewAuthenticator` on init with

[code]

[2020-09-29 11:16] MariaJsn commented on #85
I could not implement like you suggest, but when I tried like this: (If I use like this defaults.set gives an error like Attempt to insert non-property list object Swiftagram.Secret)

          WebViewAuthenticator { self.webView = $0 }
              .authenticate {
                  switch $0 {
                  case .failure(let error): print(error.localizedDescription)
                  case .s

[2020-09-29 11:21] sbertix commented on #85
You're not using `UserDefaultsStorage`, just `UserDefaults`.
Replace your code with this one.

[code]

[2020-09-29 18:39] MariaJsn commented on #85
Thank you very much :)
But this way did not work for iso 12 too :(
I think there is no chance to work it with ios 12 😢😢😢😢

[2020-09-30 08:09] aslios opened #87 "WebViewAuthenticator EXC_BAD_ACCESS error before version 13"
When I run WebViewAuthenticator with less version than ios 13 (ios 12)  it gives  EXC_BAD_ACCESS error i cannot open instagram
 login page :/
How can i fix this?
Thank you

[2020-09-30 11:07] sbertix commented on #87
Hey @aslios 💪
It's definitely something I realized from #85, but it appears to be a compiler error, so nothing I can really fix.
I'm gonna try refactoring the code hoping it works, but no promises there's an actual fix.

[2020-09-30 12:41] aslios commented on #87
i hope u can find solution quickly because its really problem for me :(

[2020-09-30 12:43] sbertix commented on #87
Does `BasicAuthenticator` work for you?
I suggest you considering it if you need a quick solution, as it might take a while 💪

[2020-09-30 16:20] karorox opened #88 "How to call Follow & Unfollow requests?"
- [x] I've searched past issues and I couldn't find reference to this.
- [x] I've checked out all provided _Examples_.

**Info**
Give me examples of calling Follow & Unfollow requests.

[2020-09-30 16:23] sbertix commented on #88
Hey @karorox

Just import `SwiftagramCrypto` and you can do something like…

[code]

[2020-09-30 16:23] #88 closed

[2020-09-30 19:29] aslios commented on #87
unfortunately` BasicAuthenticator ` doesnt work for me :( i am waiting ur help about that.

[2020-10-01 17:37] arda0011 opened #89 "Share Image/Video from url"
Is there any option to share image or video on story from url?

[2020-10-01 17:39] sbertix commented on #89
Hey @arda0011
What do you mean sharing an image or video?
Do you mean uploading an image/video from a `URL` as a story?

[2020-10-01 17:49] arda0011 commented on #89
yes you are correct uploading image/video from a urls as a story

[2020-10-01 18:03] sbertix commented on #89
You can simply download the image/video using `Foundation` methods, and then upload it through `Swiftagram` 😊

[code]

[2020-10-01 18:04] #89 closed

[2020-10-01 21:22] sbertix commented on #85
Hey @MariaJsn, I'm pushing **Swiftagram** `4.1.3` hopefully fixing this nasty bug.
Let me know if it works for you 💪

[2020-10-03 07:22] MariaJsn commented on #85
Yesss. It is working.
You make my day more beautiful.
Thank you very much. I am so appreciated.
You are the king.

[2020-10-04 12:27] Goktug opened #90 "KeychainStorage doesn't work in release mode"
- [X] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
`4.1.3`

**Describe the bug**
New KeychainStorage couldn't retrieve the data from Keychain in Release mode. If I try to do the same thing in Debug mode, it works.

**To reproduce**
Steps to reproduce the behavior:
1. Login with Instagram
2. Kill the app after login successfully
3. Open the app again
4. `

[2020-10-24 12:28] senolatac opened #91 "Minimum Platform Error"
- [x] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
4.1.3

**Describe the bug**
error: The package product 'Swiftchain' requires minimum platform version 9.0 for the iOS platform, but this target supports 8.0 (in target 'ComposableRequestCrypto' from project 'ComposableRequest')

**To reproduce**
When I try to build it to target: IOS, IOS13...

**Expected

[2020-10-24 12:32] sbertix commented on #91
Hey @senolatac 💪
Does this happen regardless of your minimum platform version?
What is it currently set on for your project?

[2020-10-24 13:05] senolatac commented on #91
<img width="597" alt="Screen Shot 2020-10-24 at 4 02 57 PM" src="https://user-images.githubusercontent.com/27292083/97082467-9c27ab80-1612-11eb-9fb1-23fb8a8e0864.png">

Yes, it's regardless of my target version.

[2020-10-24 13:05] senolatac commented on #91
When I set it as iOS 13.0, it doesn't work also. @sbertix FYI.

[2020-10-24 13:08] sbertix commented on #91
What version of Xcode are you on?
Does it still happen after resetting and updating the SPM dependencies and cleaning the project's derived data?
I can't seem to replicate it so apologies if I need to ask more questions.

[2020-10-24 13:09] sbertix commented on #91
I'm still gonna hardcode version dependencies as soon as I get to it. Hopefully I can fix it by tomorrow.

[2020-10-24 13:18] senolatac commented on #91
Xcode: 11
Derived data removed.
SPM dependencies updated.

But error is same.

[2020-10-24 14:43] #91 closed

[2020-10-24 14:45] sbertix commented on #91
`4.1.4` explicitly specifies minimum platform versions.
This should fix it, if the error was indeed related to it.
Let me know.

[2020-10-24 15:08] sbertix opened #93 "Test"

[2020-10-24 15:09] #93 closed

[2020-10-27 16:12] sbertix commented on #54
Hey @MatoMA and @mycroftcanner  💪

I've added support for iOS user agents in the `development` branch, and the release is planned for `4.2.0`.
I've tested it a bit and it all seems fine. Do you mind checking if it works for you too and satisfies your needs with the implementation?

Keep in mind the default device is still an Android phone, so in order to use an iOS once instead, you need to add th

[2020-10-27 20:08] joshuazmiller commented on #54
Hi @sbertix

I just tested it on a device [iPhone X] and got this error.

<img width="957" alt="Screen Shot 2020-10-27 at 1 03 49 PM" src="https://user-images.githubusercontent.com/20162542/97356070-f6b04a00-1854-11eb-8170-0f3afb70e39a.png">

It works with `.iPhone11ProMax` but not with `.current`

Also, will the update to support iOS 12 causing all users to be logged out? Tbh there's not many peo

[2020-10-27 20:17] sbertix commented on #54
Hey @joshuazmiller, yep, `.current` indeed requires more testing. I've already fixed the code and I'll probably push it tomorrow :muscle:

If you're referring to the previous update about iOS 12 compatibility, the only real difference is in `Storage` so _theoretically_ you should be able to access it using legacy keychain setups.
As for this new update, I'm totally planning on reusing previously s

[2020-10-29 17:10] #54 closed

[2020-11-02 10:35] i-Senku opened #99 "'nil' requires a contextual type Error in last version"
I updated to last version and when i build project i get 'nil' requires a contextual type error in Client.swift.
How can i fix that ?

[2020-11-02 10:38] sbertix commented on #99
Hey @i-Senku 💪
Where exactly are you getting the error?

[2020-11-02 11:28] #99 closed

[2020-11-02 11:47] i-Senku commented on #99
I'm getting the same error

<img width="284" alt="Ekran Resmi 2020-11-02 14 45 40" src="https://user-images.githubusercontent.com/54575884/97864722-1e525700-1d1a-11eb-9363-c66e1b1ee0f6.png">
<img width="871" alt="Ekran Resmi 2020-11-02 14 46 18" src="https://user-images.githubusercontent.com/54575884/97864766-34601780-1d1a-11eb-9d97-2c06b9c3c885.png">

[2020-11-02 11:49] sbertix commented on #99
You need to update the SPM.
As you can see, your code is still the one from `4.2.0`: [this is how it looks now](https://github.com/sbertix/Swiftagram/blob/main/Sources/Swiftagram/Client/Client.swift)

[2020-11-02 11:52] sbertix commented on #99
It should work now. Apologies

[2020-11-04 12:31] i-Senku opened #101 "'cookies' is inaccessible due to 'internal' protection level"
i get this error in latest version.
`'cookies' is inaccessible due to 'internal' protection level`

[2020-11-04 12:40] i-Senku commented on #101
and follow or unfollow functions doesnt exit your FriendShip class `Endpoint.Friendship.follow(userPK)` .

[2020-11-04 13:10] sbertix commented on #101
Are you importing `SwiftagramCrypto`?
Following and unfollowing requires importing that library too, not only `Swiftagram`.

[2020-11-04 13:12] sbertix commented on #101
Does this happen in your code or is it returned somewhere from within `Swiftagram`?
If the issue is in your code then it's by design: I'm limiting access to cookies in a way to limit abuses. If it's in `Swiftagram` would you let me know where it fires so I can fix it?

[2020-11-04 13:25] i-Senku commented on #101
[code]

i was using this code to follow and unfollow.But now i dont need because follow and unfollow are working when i import SwiftagramCrypto . Thanks for everything 👍

[2020-11-04 13:36] #101 closed

[2020-11-22 08:27] MariaJsn opened #102 "Login agent"
Hey Sbertix,

Is there any way to change login device? I want to use apple device instead of android.
When I login to instagram with Swiftagram, it says you logged with Samsung SM-G981B · Chrome Mobile.

Thanks,
Maria

[2020-11-22 08:33] sbertix commented on #102
Hey @MariaJsn.
Sure,  just do this:

[code]

Or pass a new `Client` when authenticating with `WebViewAuthenticator` or `BasicAuthenticator`.

[code]

Please keep in mind `Client`s are linked to authentication `Secret`s: you will need to log in again in order to change the device you are using 😊

[2020-11-22 08:34] #102 closed

[2020-11-26 14:31] khaliddd opened #103 "How to check secret validity"
Hello,

how can I check if secret stored in keychain is not expired or its still valid ?

[2020-11-26 14:54] sbertix commented on #103
Hey @khaliddd,
Instagram authentication cookies never actually expire: they timeout client side but they're still just as valid for requesting.
So the approach for dealing with `Secret`'s invalidation should always be "try fetching your request" and be ready to deal with failures, instead of directly questioning whether your `Secret` is still valid or not 😊
Hope it helps.

[2020-11-26 14:54] #103 closed

[2020-11-26 21:06] lijing8989 opened #104 "Friendship is nil when I get user summary"
I was going to get "friendship" by following api call.

But "friendship" is nil.
I am following him, and he is also following me, so friendship should be exist.
Here, secret is my account's one.
And I can get all other info except "friendship".

[2020-11-26 21:21] lijing8989 commented on #104
And I get friendship as nil when I get followers and followings.

[2020-11-26 23:12] sbertix commented on #104
Hey @lijing8989, this appears to be a change in **Instagram** behavior, unrelated to **Swiftagram**.
Friendship status is no longer returned when asking for a user's summary, meaning you will need to interrogate `Endpoint.Friendship.summary(for:)` specifically.

[2020-11-26 23:12] #104 closed

[2020-11-27 06:50] lijing8989 commented on #104
@sbertix
Thanks for your response.

Don't these apis also return "friendsship"?

[2020-11-27 08:04] serhiy1017 commented on #104
I meet the above same issue.
So is the attribute "friendship" nil always for all cases?
If yes, then you should remove the "friendship" in your framework.

[2020-11-27 08:09] serhiy1017 opened #105 "Can't get saved Secret in Widget Extension"
@sbertix
There is a Widget Extension in my app.
I can get saved secret in main app, but in the extension.
I am using following code.
`KeychainStorage<Secret>().all()`
Could you support this issue?

[2020-11-27 09:49] sbertix commented on #104
The `friendship` property used to be populated when calling `Endpoint.User.summar(for:)` and only that.
It was never populated for `Endpoint.Friendship.following(_:)` or `Endpoint.Friendship.followed(by:)`. As Instagram removed it from the response, I'm gonna remove it from the model too.

[2020-11-27 09:52] sbertix commented on #105
Hey @serhiy1017.
This is not a bug. As a widget is for all intents and purposes a separate app, you need to store your `Secret` in a `KeychainStorage` with a shared access group.
Consider reading [this](https://developer.apple.com/documentation/security/keychain_services/keychain_items/sharing_access_to_keychain_items_among_a_collection_of_apps).

[2020-11-27 09:52] #105 closed

[2020-12-08 14:14] khaliddd opened #107 "Comment Identifier"
Hi,

how can I get identifier / primary key of a comment ?

[2020-12-08 15:02] sbertix commented on #107
Hey @khaliddd,

I remember realizing some days ago that I never exposed it in the `Comment` model, and I thought I added it in `4.2.2` but that's not the case. I'm definitely pushing an update later.

For now you can do `comment.pk.string()` given `comment` is of type `Comment`.

[2020-12-08 15:02] #107 closed

[2020-12-08 23:09] sbertix opened #110 "Discussions vs Issues"
Hey 😊

With the introduction of [**Discussions**](https://github.com/sbertix/Swiftagram/discussions), we're removing issues templates for both enhancements and support, as they're more suitable for the new section.

_Issues_ are now JUST _issues_. **Non-bug related ones will be closed**.
Again, questions and requests are not gone: they're just [**here**](https://github.com/sbertix/Swiftagram/discu

[2020-12-08 23:10] #110 closed

[2020-12-13 08:14] senolatac opened #111 "Endpoint for follower/following search"
In swiftagram, you have endpoint to fetch user follower/following list page by page. But I wonder how can I search follower/following users? Is there an endpoint for it?

For Example:

v1/user/friendship/follower?q=abc
Show only my followers, username/name includes "abc"

[2020-12-13 18:35] sbertix commented on #111
Hey @senolatac,

No, there isn't a method querying followers/following by name/username, right now.

It's mostly cause I forgot to add it back 😅

If it's still working like it should I'll push an update within a couple hours.

[2020-12-13 22:15] #111 closed

[2020-12-14 14:00] aslios opened #113 "How to delete Android agent name ? :("
Hi Sbertix,
I want to change login device name? I want use iphone or other apple device name instead of android and when i login via SwiftGram instagram send to me mail as "some android device (samsung xxxx ) login etc. ..."
i dont want see android device name.can i write "iphone" + "device name" ? (like "aslios iphone" )
Thank you so much

[2020-12-14 14:09] sbertix commented on #113
Hey @aslios,

There are many issues closed already regarding this feature.
All you need to do is set the following line on app launch.

[code]

This will try and detect the user's iPhone. But if it's not an iPhone, it's gonna use the iPhone 11 Max as reference.

[2020-12-14 14:09] #113 closed

[2020-12-17 15:48] mehroozkhan opened #114 "Delay in api request"
Hello,
Do you add any kind delay in paging apis ? If yes then how can I change it ?

like its in SWiftyInsta library, and I can change it like handler.settings.delay = 1

Thanks,

[2020-12-17 15:49] #114 closed

[2020-12-18 01:05] ramz30011 opened #115 "Trying to run the code on watchOS is not working"
Trying to build for watchOS but getting errors as per the attached image :
![Screen Shot 2020-12-18 at 3 04 17 AM](https://user-images.githubusercontent.com/62383141/102561651-e2166280-40dd-11eb-8596-7d487f3c2736.png)

[2020-12-18 11:35] sbertix commented on #115
Hey @ramz30011, thank you for pointing this out.
I'll push a new version fixing this issue within a couple hours 💪

[2020-12-18 11:54] #115 closed

[2020-12-21 08:39] khaliddd opened #120 "Endpoint Media Posts Upload is not working"
Hi,

Endpoint to upload image to instagram is not working.
I get success but media is `nil` and can't see any post on instagram.

My code is :

[code]

[2020-12-21 11:09] sbertix commented on #120
Hey @khaliddd,
I'm unable to test it right now, I hope I can get to it later today.
Would you be able to confirm whether it works properly WITHOUT adding a caption to the photo? Cause we had similar issues in the past and it might be related to that.

[2020-12-21 15:26] khaliddd commented on #120
@sbertix its not working even WITHOUT caption.

[2020-12-21 15:27] sbertix commented on #120
Hahaha "great". I hope to get to test it soon.

[2020-12-21 19:47] #120 closed

[2021-01-06 09:54] khaliddd opened #124 "Crash in Media.location.coordinates"
Hi,

In some unknown cases app crashes when I access coordinates of a post (media.location.coordinates).

Error description : Swift runtime failure: Unexpectedly found nil while implicitly unwrapping an Optional value

location is optional value, but you force unwrap coordinate value.

(definitely I access coordinate value only if location is not nil)

[2021-01-06 10:12] sbertix commented on #124
Hey @khaliddd,

thank you for pointing this out 💪
For some reason I assumed they would always be populated, but they're not.
I'm pushing a new version rn.

[2021-01-06 10:12] #124 closed

[2021-01-06 10:27] khaliddd commented on #124
Thank you for the quick response.

[2021-01-06 15:30] dramikei opened #126 "Pagination in Endpoint.Media.timeline(startingAt:) ignoring start"
- [x] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
`4.2.5`

**Describe the bug**
A clear and concise description of what the bug is.
When calling `Endpoint.Media.Posts.timeline(startingAt: )` with correct maxId and secret, the resulting wrapper is the same when called using `Endpoint.Media.Posts.timeline()`. Making pagination unusable.

**To reproduce**

[2021-01-06 16:27] sbertix commented on #126
Hey @dramikei,
sorry I completely forgot about this.

If that's the case it's gonna be an easy fix. I'm gonna work on this immediately 💪

[2021-01-06 16:40] sbertix commented on #126
So I'm releasing `4.2.8` with a fix.

Please keep in mind, however, as I mentioned before, storing the `nextMaxId` and then using it to call the endpoint again is not the suggested implementation. Either way, it's not a "bad way", it's just less efficient, so feel free. Just a suggestion 💪

[2021-01-06 16:40] #126 closed

[2021-01-08 10:42] fridayhoney opened #131 "get all following"
Thanks for your job

I would like to get all following without using .prefix(n)
How can I do please ?

[2021-01-08 12:18] sbertix commented on #131
Hey @fridayhoney,

Just remove the `prefix` and the Combine subject will fetch all available pages.

As this is not an issue, I'm gonna delete it now.
Please make sure to open a Discussion next time.

[2021-01-08 12:18] #131 closed

[2021-01-23 17:53] ramimoghrabi opened #133 "adding send Direct message"
is it possible to add send Direct message from this library ?

[2021-01-23 18:42] sbertix commented on #133
Hey @ramimoghrabi,

For request and enhancements you should use [**Discussions**](https://github.com/sbertix/Swiftagram/discussions) not **Issues**, as this is not an error/bug, and it will be archived after this response.

The feature has already been requested and **it will not be supported**. You can find more [here](https://github.com/sbertix/Swiftagram/discussions/122).

[2021-01-23 18:42] #133 closed

[2021-01-25 08:53] own2pwn opened #135 "OS X- header"
Do we always have `X-IG-Android-ID` even if the device is iphone / ipad?

https://github.com/sbertix/Swiftagram/blob/e5f113ed71ce82339868c527dc999c5a93ded038/Sources/SwiftagramCrypto/Authentication/Basic/BasicAuthenticator.swift#L183

[2021-01-25 09:03] own2pwn commented on #135
https://github.com/sbertix/Swiftagram/discussions/136

[2021-01-25 09:03] #135 closed

[2021-02-04 05:33] MariaJsn opened #139 "Multi Account Suppor"
Hi Sbertix :)

Is there any way to support multi account?
For example: Login with two accounts and when we change it no need to login again.

[2021-02-04 10:34] #139 closed

[2021-02-22 20:43] MariaJsn opened #148 "Followers/Following User Name"
Hi @sbertix :)

In api followings and followers endpoints returns nil for user name.
Can you check it please?

Thanks,
Maria

[2021-02-22 21:24] sbertix commented on #148
Hey @MariaJsn,

Are you sure? 🤔
I haven't been able to replicate this using `Endpoint.Friendship.following(_:)` and `Endpoint.Friendship.followed(by:)`… 
The `username` property is still there in the response and it's correctly captured by the `Wrapper` and, therefore, `User`.

Do you have more info on what's going wrong on your side? 😊

[2021-02-23 16:54] MariaJsn commented on #148
I got the point so sorry it is my mistake

[2021-02-23 16:54] #148 closed

[2021-03-01 18:24] mycroftcanner opened #150 "Is it possible to change an account's profile picture"
Is it possible to change an account's profile picture using Swiftagram? I quickly look through the repo and couldn't find anything.

[2021-03-01 20:57] #150 closed

[2021-03-13 14:08] khaliddd opened #157 "Login with facebook not working"
Hi,

Continue with facebook login is not working, on web view it open the instagram feeds page, but WebViewAuthenticator gives an error :

The operation couldn’t be completed. (Swiftagram.WebViewAuthenticatorError error 0.)

Swiftagram version : 4.2.7

[2021-03-13 14:12] sbertix commented on #157
Hey @khaliddd,

🤔
Mmh… I've never actually thought about the "Continue with Facebook" option and I don't really have a way to test it, either, unfortunately. I just assumed they would use the same cookies.
Do you have a way to test it yourself so we can figure it out "live" on a Zoom call or something?

[2021-03-25 09:59] khaliddd commented on #157
Hi @sbertix ,
sorry for getting back late :

When we login via facebook we get the following cookies:

[code]

 There is no cookie for "csrftoken"

 and you validate cookies like this:

 `var containsAuthenticationCookies: Bool {
        Set(map(\.name)).intersection(["ds_user_id", "sessionid", "csrftoken"]).count == 3
    }`

is there any quick fix for it ?

Thanks in advance

[2021-03-25 10:02] sbertix commented on #157
I've deleted the comment just in case the cookies could be actually used to login @khaliddd.

I'm not really sure how it would work with all endpoints requiring the CSRF token... 🤔

I'll try to find a way to test it in the next few days.
Possibly for `5.0.0`.

[2021-03-25 10:19] khaliddd commented on #157
okay thank you.

[2021-03-25 10:52] khaliddd commented on #157
Hi @sbertix ,

for some strange reasons it works when I debug it with break points , I guess it works if there is some delay ,

if I remove breakpoints it does not work.

do you have any idea what could be the issue ?

[2021-03-25 11:22] sbertix commented on #157
I'm assuming cookies are validated by **Swiftagram** before they're actually set.
I know it was an issue in the past, in the implementation I had written for **SwiftyInsta**, but I never saw it happen in `WebViewAuthenticator`. I'm definitely gonna fix this though.

[2021-03-27 10:47] sbertix commented on #133
Hey @ramimoghrabi,

I've decided to ease the self-imposed restrictions I had put on sending dms.
As of `5.0.0` anyone will be able to send text only messages to **already existing** conversations.
I feel like this is a good enough compromise between providing the most complete API wrapper, and caution about possible misuses.

I'm writing this here just for reference.

[2021-04-10 11:33] MariaJsn opened #161 "Missing Followers"
Hi Sbertix :)

There is a problem when getting followers list.

I have two instagram account
First one of them has 190 followers and 17 following -> I can get the following and follower list correctly.
Second account I have 214 followers and 301 following -> I can get the followings correctly but in followers I can get 194 instead of 214.

Really I could not understand why it is not working for so

[2021-04-10 11:41] sbertix commented on #161
Hey @MariaJsn,

Followers and following count are not updated immediately as people deactivate their account, or delete it, etc.

This is not a bug: you're simply fetching only actual followers/following, minus the ones who might have blocked you (which is for sure a minor factor but that's another reason why counters are overestimated).

If you go to the app and count followers/following manually

[2021-04-10 11:41] #161 closed

[2021-04-10 11:57] MariaJsn commented on #161
But When I login my account and request for my friends followers/followings list, it returns correct values. And also some of the accounts there is a diff more than 50 user

[2021-04-10 12:03] sbertix commented on #161
When checking the same profile?
Let's say you're checking Instagram followers, you get 50 more followers when using another account?
Assuming all 50 accounts haven't blocked you, which wouldn't make sense, the reason for this might be rate limiting. Followers and following endpoints are heavily restricted by Instagram and you're probably making too many requests.
This is not something I can contro

[2021-04-10 16:07] sbertix commented on #157
Hey @khaliddd,

I've changed the authentication flow in `5.0.0`: it's still based on the old behavior (i.e. the actual steps are the same but I improved on the code), but unfortunately I can't test it to see whether it's enough or not to have it work with Facebook.
Do you mind cloning the `development` branch and testing the authentication in the _Followers_ example and give me some feedback? Than

[2021-04-14 08:38] khaliddd commented on #157
Hi @sbertix,

Sorry, I was bit busy.
I'll test it today or tomorrow and will update you.

[2021-04-14 10:10] khaliddd commented on #157
@sbertix I am getting an error in development branch, can you please help me to fix it.

![Screen Shot 2021-04-14 at 3 07 00 PM](https://user-images.githubusercontent.com/2604040/114693924-7ebadb00-9d33-11eb-8860-15d459e65939.png)

[2021-04-14 10:13] sbertix commented on #157
I'm assuming you have a dependency to the older **ComposableRequest** in your code when adding the new one.
There's no point in adding it to your actual project right now though, as it's not ready yet.
I was just wondering if you could clone **Swiftagram** and test login in the _Followers_ example (so I also know how the actual authentication is implemented in the client).

[2021-04-14 14:31] khaliddd commented on #157
@sbertix :
its working

[2021-04-14 14:32] sbertix commented on #157
Great @khaliddd 💪
I'm gonna close the issue once `5.0.0` is out then.
Thanks man

[2021-04-15 01:06] Bubba8291 opened #166 "Swift compile error with watchOS app extension in 5.0.0 beta"
- [x] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
development branch

**Describe the bug**
A bunch of errors show up including `Cannot find 'CGSize' in scope` when building for watchOS

**To reproduce**
Steps to reproduce the behavior:
1. Create a iOS Xcode project with a watchOS app extension
2. Add Swiftagram with SPM on the development branch
3. Impo

[2021-04-15 08:16] sbertix commented on #166
Hey @Bubba8291,

Please keep in mind issues regarding beta versions in the `development` branch will not be (officially) considered.

However, I can't tell you this looks like an `import` oversight on my side and I'm definitely gonna fix it by the end of the day 😊

Thank you for pointing this out 💪

[2021-04-15 08:16] #166 closed

[2021-04-15 09:25] sbertix commented on #166
Hey @Bubba8291,

This should have been fixed with the last commit to the `development` branch 💪

[2021-04-18 10:23] khaliddd opened #169 "Saved media not paginating"
Hi @sbertix,

I am getting parsing error in saved posts endpoint, My code is:

[code]

it looks like it fetches the correct data but can't not parse it.

while the end point to get Liked posts is working fine.

[2021-04-18 11:15] khaliddd commented on #169
Hey @sbertix ,

there is a bug in Liked endpoint as well
`Endpoint.Media.Posts.liked`

pagination parameter is nil every time , even if there are more pages.

[2021-04-18 14:08] sbertix commented on #169
Hey @khaliddd,

I'm gonna inspect it and fix it for `5.0.0`.
Thx 💪

[2021-04-19 11:20] sbertix commented on #169
I'm not sure why this happens cause Instagram did not change the pagination parameters.
It might be related to an issue with the `4.*` pagination offsets, but for sure it works with `5.*` (which I'm planning on releasing by the end of the week, btw).

I'm definitely adding `saved`-specific models, though, as that has indeed changed since I've initially implemented it. Meaning with `5.*` you'd be a

[2021-04-19 11:32] #169 closed

[2021-04-20 13:20] khaliddd commented on #169
Hey @sbertix :

I found another thing, pagination in `Endpoint.Friendship.followed` is also not working (while its working fine in `Endpoint.Friendship.following`)

can you please check it as well.

[2021-04-20 13:22] sbertix commented on #169
Do you mean the pagination parameter offset is `nil` on the model, or it doesn't actually work?
Cause if it's the model, don't worry, it's been fixed. If it's about the pagination, as it hasn't changed, I'm assuming it might be related to the account you're using for tests being rate limited.

[2021-04-20 13:25] khaliddd commented on #169
`collection.pagination` is nil. I guess its not related to limit, as its working fine in `Endpoint.Friendship.following`

[2021-04-20 13:28] sbertix commented on #169
I mean, not necessarily. It's not unlikely for them to stop working asymmetrically.
What I'm asking though is: if you let the `followed` paginate more than one will it load all requested pages? Is it just an issue with the `pagination` parameter or the actual response?

[2021-04-20 13:34] khaliddd commented on #169
yes it fetches all requested pages, I tried with 2,3,4 and 5.
but `pagination` is nil in all cases

[2021-04-20 13:35] sbertix commented on #169
Then it's okay, it just the model offset.
You can still access it from the underlying `Wrapper`, and it won't be a problem in `5.0.0`.

[2021-04-20 13:38] khaliddd commented on #169
okay, thank you

[2021-04-26 13:17] biox86 opened #180 "Unsupported browser disclaimer while logging in with Facebook"
Swiftagram version
4.2.10

When the Client.default is set to .iPhone11ProMax, if you try to log with Facebook you can see a big disclaimer at the top of the webview saying "unsupported browser".
The login works correctly anyway, but it feels like there's something wrong seeing that huge banner at the top of the view.

Steps to reproduce the behavior:
1. Set the Client.default to . iPhone11ProMax
2

[2021-04-26 13:19] sbertix commented on #180
Hey @biox86,

Thank you for pointing it out.
I'm gonna see that this is fixed in time for `5.0.0`, which I'm hopefully releasing by the end of this week. Fingers crossed.

[2021-04-26 13:55] biox86 commented on #180
Great news, thanks for the super fast response!

[2021-04-27 23:02] khaliddd commented on #169
@sbertix : in `Endpoint.Friendship.followed` ,  I tried to use nextMaxId from wrapper, but I am not getting correct value from wrapper as well,

Thats what from wrapper : `"nextMaxId": 50`

do you know when you'll release next version?

[2021-04-27 23:09] sbertix commented on #169
The next max id issue is not related to actual changes in Insta endpoints, it's about new limitations with usage. Nothing I can do, unfortunately.

I hope to release this week.
It's a huge update and it's taking longer than I hoped for to polish it.

[2021-04-27 23:35] khaliddd commented on #169
Thank you for the quick response, Yeah I understand instagram limitation, but I guess you did not get my point, let me explain:
if I call the api like this :

[code]

it works fine and it returns 15 pages (700+ users), but if I call the api for 2 pages, then it returns 2 pages but pagination is nil, but there should be a valid pagination value, as there are 13 more pages.

[2021-04-27 23:38] sbertix commented on #169
I was replying to you getting a `nextMaxId` of `50`, and that resulting in wrong pagination.
What you're talking about now is something I've already told you is fixed in `5.0.0` and has nothing to do with your last comment 😊

[2021-05-06 14:34] #157 closed

[2021-05-06 14:34] #180 closed

[2021-05-08 12:59] sbertix opened #188 "Pagination still not working"
Hi @sbertix,

Pagination is not working in `Endpoint.user(userId).following`

actually it got worse in the update `5.0.0`, it fetches only one page,

whereas in previous version it was fetching desired pages but nextId was nil

can you please check it.

_Originally posted by @khaliddd in https://github.com/sbertix/Swiftagram/discussions/187_

[2021-05-08 13:03] sbertix commented on #188
Do you mind sending me a Telegram message with the console output of your request, cause I'm assuming this is related account-specific differences (meaning Instagram might serve different responses according to some user-based parameters) as it all works fine on my end.

Just add `Logger.default = .init(level: .Response.body)` (or `Logger.default = .init(level: Logger.Level.Response.body)` if you'

[2021-05-08 13:15] khaliddd commented on #188
Hi @sbertix ,

sure no problem ,

can I send you response via email?, as I don't use telegram.

[2021-05-08 13:16] sbertix commented on #188
Sure 😊
`stefano@bertagno.com`

[2021-05-08 15:45] #188 closed

[2021-05-08 17:55] khaliddd opened #190 "Retrieving Secret returns exception"
Hi @sbertix,

(version 5.0.2)

After successful login whenever I try to retrieve secret like this `let secret = try? Authenticator.keychain.secrets.get().first ` it gives an error, and I can't login again until I clear the keychains like you did in example :
`do { try Authenticator.keychain.secret(secret.identifier).delete() } catch { print(error) }`

I tried it on real device as well, still same

[2021-05-08 18:04] sbertix commented on #190
Does it still raise an exception if you're invoking it on the main thread?
I'm just trying to figure out a way to replicate it 🥺

[code]

[2021-05-08 18:11] khaliddd commented on #190
yes,

`typeMismatch(Swift.Dictionary<Swift.String, Any>, Swift.DecodingError.Context(codingPath: [], debugDescription: "Expected to decode Dictionary<String, Any> but found a number instead.", underlyingError: nil))`

[2021-05-08 19:06] sbertix commented on #190
Could you also confirm that logging in and retrieving `Secret`s from `Authenticator.userDefaults` instead of `Authenticator.keychain` does not cause the same issue?

I'm not really sure what might have changed to cause this issue, as I'm using the same logic as before... 🥺

[2021-05-08 20:55] khaliddd commented on #190
Yes, It works fine if I use `Authenticator.userDefaults`

I tried to do little bit debugging and came to know that if I try to retrieve secret even right after successful login it throws same exception,
[code]

[2021-05-09 00:16] khaliddd opened #191 "Build fails while archiving in `5.0.2`"
Hi @sbertix,

I am getting compiler error `No such module 'Combine'` when I try to archive,

my minimum deployment target is 14, and I am not using swiftUI

![Screen Shot 2021-05-09 at 4 52 49 AM](https://user-images.githubusercontent.com/2604040/117556644-7c267980-b084-11eb-900c-4138ff335229.png)

[2021-05-09 07:32] sbertix commented on #191
Hey @khaliddd,

Are you trying to archive an iOS build?
If your deployment target is less then iOS 13, please follow the `README` instructions on using `5.0.0` on previous platform versions.

If that's not the case, make sure you're cleaning your project, emptying derived data, removing **Swiftagram** from your dependencies completely, then adding it back.

[2021-05-09 12:09] khaliddd commented on #191
yes, for iOS build,

still not working :(

[2021-05-09 12:16] sbertix commented on #191
What version of Xcode are you on?

[2021-05-09 12:17] khaliddd commented on #191
Version 12.5 (12E262)

[2021-05-09 14:04] sbertix commented on #190
This was indeed related to the underlying keychain being populated with some non-`Secret` values.
I pushed an update for `ComposableRequest` with a fix.
Make sure you update your dependencies and check `ComposableRequest` gets updated to `5.0.8`.
Let me know if it fixes it 💪

[2021-05-09 14:25] sbertix commented on #191
It does not appear to be related with **Swiftagram** per se, still I'm not really sure why **CombineX** would have trouble `import`ing `Combine`… 
I hope I'll get to test it some more either tonight or tomorrow, and if no solution can be found, I'm just gonna drop **CombineX** all together and stick with iOS 13 and above.

[2021-05-09 14:46] sbertix commented on #191
Removing **CombineX** did fix the problem and I feel like it's the only way to go…
I'm not merging yet as it's somehow a "defeat" having to raise deployment version to iOS 13, but find a working version on the `development` branch for now.

[2021-05-09 15:19] khaliddd commented on #191
Thanks man

[2021-05-09 16:06] #191 closed

[2021-05-13 17:32] karorox opened #201 "How to get medias by using specific tag?"
Currently I'm trying to use Swiftagram 5.0.3

I've read README, Example code and past issues, but finally I couldn't get it how to fetch medias by using specific tag like "travel".

Could you give me example code?

[2021-05-13 18:13] #201 closed

[2021-05-17 12:57] biox86 opened #208 "Authenticator.keychain fails while saving multiple times the same instagram secret"
**Dependencies version**
Swiftagram 5.1.0
Composable request 5.0.9
SwCrypt 5.1.4
Swiftchain 1.0.5

**Bug description**
If you have already saved a secret with Authenticator.keychain the second time will respond with a failure:
Swiftchain.Keychain.Error.status(-25303)

**Steps to reproduce**
Login with a webview saving your secret with Authenticator.keychain. Repeat the process a second time to get

[2021-05-17 13:26] sbertix commented on #208
So basically this happens when you try to log in an already persisted account, correct?

When, instead of fetching the persisted `Secret`, you present the login sheet again, when trying to overwrite the previous one the exception gets raised, correct?

[2021-05-17 13:35] biox86 commented on #208
Exactly, I know it doesn't make much sense to re-log the same account once you already have the secret and I don't do that either honestly, but I noticed this situation while doing some tests.
I guess it should be better to overwrite the new value correctly or maybe returning the already cached one.

[2021-05-17 13:37] sbertix commented on #208
Yep, I was just trying to make sure, cause it's harder to test the new storage system for these edge cases.
I'll work on it and push a fix in the next 24 hours, hopefully.
Thanks for pointing this out man 💪

[2021-05-17 13:39] biox86 commented on #208
No problem, thank you for being this responsive!

[2021-05-17 15:45] biox86 opened #209 "Endpoint.user.following pagination problem"
**Dependencies version**
Swiftagram 5.1.0
Composable request 5.0.9
SwCrypt 5.1.4
Swiftchain 1.0.5

**Bug description**
Calling Endpoint.user.following with the parameter pages(.max) seems to stuck inside and infinite loop that keeps repeating your following without never reaching the sink completion.
Debugging the results inside the receiveValue callback, once I have reached the complete list of m

[2021-05-17 15:48] sbertix commented on #209
Wait... does this still happen in `5.1.0`?
I might have messed up some things merging branches cause this was fixed... 🤔
Do you mind setting `Logger.default = .init(level: .Response.body)` and adding the log here?

[2021-05-17 15:58] biox86 commented on #209
Response:
	Body: {"sections":null,"global_blacklist_sample":null,"users":[{"pk":405058005,"username":"lautofani","full_name":"Laura Tofani","is_private":true,"profile_pic_url":"https://scontent-mxp1-1.cdninstagram.com/v/t51.2885-19/s150x150/102718505_901088490372431_168087733891404775_n.jpg?tp=1\u0026_nc_ht=scontent-mxp1-1.cdninstagram.com\u0026_nc_ohc=jhkKNwsjqCAAX8Ls3-B\u0026edm=ALB854YBAAAA\u00

[2021-05-18 13:31] sbertix commented on #208
Okay, so apparently this is an issue with **Swiftchain** and unexpected keychain attributes.
This is not related to `5.*` per se, simply, before `5.*`, storages would never `throw`, but `Secret`s still wouldn't be updated. So it's definitely a good thing that this made it so it was actually catchable.
I'm gonna tinker a bit with keychain implementation again, and see what I can come out with.

[2021-05-18 15:32] biox86 commented on #208
Nice to know that this bug pointed out that problem then. Thanks! If you need some feedback for testing stuff or something, just let me know.

[2021-05-18 16:22] sbertix commented on #209
Ok, so I'm pushing a fix for this too.
Basically it was due to **ComposableRequest** `Pager` messing up with `Optional` `Offset`s: it was checking for `.none` on `.some(.none)`.

[2021-06-10 12:44] sbertix opened #221 "Not compiling on Xcode 13"
- [x] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
5.3.0

**Describe the bug**
`Endpoint.recent.posts` raise an error not allowing for compilation to succeed.

**To reproduce**
Steps to reproduce the behavior:
- Try building your project.

**Expected behavior**
Building succeeds.

**Device and system**
Any and all.

[2021-08-03 16:35] diligiant opened #246 "Swift compiler refuses to compile when exporting Localizations"
- [X] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
xcode13

**Describe the bug**
A clear and concise description of what the bug is.

**To reproduce**
1. Build the Authenticator Example
2. Set "Use Compiler to Extract Swift String" in project's build settings (if search fails, redo with All / Levels ON)
3. SwCrypt, ComposableStorage, ComposableRequest &

[2021-08-03 16:41] sbertix commented on #246
Hey @diligiant,

The _Authenticator_ example, and all examples, do not rely on `LocalizedStringKey`, so of course they fail when turning on "Use Compiler to Extract Swift String".
This is not a bug, though, simply all examples are not intended to behave as full scale localisable applications, but just guides on how to start with the repo.

If you implement localisation correctly in your own app, y

[2021-08-03 16:41] #246 closed

[2021-08-03 16:44] diligiant commented on #246
@sbertix I get the same errors in my app, a reason why I downscaled to the Authenticator…

[2021-08-03 16:47] sbertix commented on #246
Apologies, I never encountered the issue myself with the flag, so I assumed it was related to the example.
Could it be something related to the beta or do you get the same error when building the project on stable versions.
Otherwise I'll try and deal with it, by the end of the week, hopefully.

[2021-08-03 16:48] diligiant commented on #246
This is a new 13 feature. I am « destroying » right now my application, removing any reference to your libraries. I'll let you know soon ;)

[2021-08-03 16:49] sbertix commented on #246
Sorry, I meant to say "current beta".

[2021-08-03 16:55] diligiant commented on #246
I run the latest beta (4). Let me try to add Swiftagram to Fruta (localization sample app) and see what happens.

[2021-08-03 17:16] diligiant commented on #246
@sbertix it works with Fruta to which I added a Swiftagram one-liner to get it to compile with. So I'll dig deeper and get back to you. thank you.

[2021-08-23 12:48] #221 closed

[2021-09-23 20:17] 89z opened #257 "anonymous access"
Is it possible to get post information, from a public page such as this:

https://www.instagram.com/p/CT-cnxGhvvO/

without login?

[2021-09-23 20:22] #257 closed

[2021-11-12 21:42] joshuazmiller opened #262 "Credentials expiring"
- [x] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
5.4.0

**Describe the bug**
After a couple days the Instagram login expires.

**To reproduce**
Steps to reproduce the behavior:
1. Login using Swiftagram.
2. Wait a couple days (as little as 1 to 2 days).
3. User credentials stop working for all IG requests.
4. Logging out and back in resolves for anothe

[2021-11-14 19:22] sbertix commented on #262
Hey @joshuazmiller,

I've looked into this a bit more and turns out the endpoints are returning a 500 error code, with no additional explanation.
The response header is indeed different, though, so I'm worried it might be related to broader changes Instagram-side.
I was only able to replicate this (for now) with the web based authentication, but I'm now also trying the basic one, and I'll update t

[2021-11-18 05:35] MariaJsn commented on #262
Hi @sbertix
is there any news? I am facing this problem too.
Do you have any advice for solving the problem, albeit temporarily?

Thanks,
Maria

[2021-11-27 15:25] mahdi-saberi opened #267 "link sticker"
as you know link sticker recently added to instagram, and now its public; so every body can use! would you please add it to project?

[2021-12-09 09:35] joshuazmiller commented on #262
Some parallel issues opened in other repos the past few weeks:

Noted the issue but haven't solved:
https://github.com/meetfranz/franz/issues/2107
https://github.com/meetfranz/franz/issues/2112

Possible solution but a bit unlikely:
https://github.com/penpot/penpot-docs/pull/48

So perhaps adding a `/` could fix? I don't really think it would, but who knows.

Here is an interesting recent discussi

[2021-12-21 12:23] yusuftor commented on #262
Hi, any update on this? Is this still an issue? Thanks!

[2022-01-02 18:43] yusuftor opened #278 "Rate limits"
Does anyone know the rate limits for pagination? This isn't actually a bug, just a general question! Can't seem to remove the label, sorry about that.

[2022-01-19 06:12] strangeliu opened #281 "Unable to login with two-factor challenge"
I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
5.4.0

**Describe the bug**
Login with two-factor get error: invalid_parameters

**To reproduce**
Steps to reproduce the behavior:
1. Login with `Authenticator.keychain.basic(username: userID, password: password)
            .authenticate(in: client)`
2. get two_factor code, and continue with `challenge.code(c

[2022-01-20 18:42] mobiledevgiant opened #284 "Is it possible to get display url and comments?"
I am using this framework on my application.
Is it possible to get display url and all comments of this post?

https://www.instagram.com/p/CY6dfn4oks5/?utm_source=ig_web_button_share_sheet

If yes, can you please share codes for it?
Thanks.
Vasyl.

[2022-01-20 18:52] 89z commented on #284
I have an alternate framework for this purpose:

[code]

https://github.com/89z/mech

[2022-01-20 19:13] mobiledevgiant commented on #284
@89z
Thank you for your quick help.
Is there any Objective-c or Swift codes for this?

Regards
Vasyl

[2022-01-21 06:54] germ1nand0 opened #285 "How can I get full stories info from highlights?"
### Discussed in https://github.com/sbertix/Swiftagram/discussions/283

<div type='discussions-op-text'>

<sup>Originally posted by **germ1nand0** January 20, 2022</sup>
How can I get full stories info from highlights?
I get preview of highlights by Swiftagram.Endpoint.user(userID).higlights.
Response contains only cover media(no info about stories in this higlight except lastMediaId) and the iden

[2022-01-21 14:49] 89z commented on #285
please provide example URL

[2022-03-03 09:26] olegjunios opened #292 "how can i get video from instagram stories url using Swiftagram?"

[2022-03-03 12:51] 89z commented on #292
please provide example URL

[2022-03-03 20:30] olegjunios commented on #292
this is my code

`self.completion = { [weak self] result in
            print(result)
            guard let self = self else { return }
            guard let userName = self.userName else {
                self.dismiss(animated: true)
                return }
            guard let storyId = self.storyId else { return }
            guard let link = self.link else { return }

            self.secret

[2022-03-03 20:47] 89z commented on #292
please provide example URL

[2022-03-07 18:00] olegjunios commented on #292
what did you mean "example url"?
url from instagram stories?

[2022-03-07 18:02] 89z commented on #292
If you dont know what a URL is, you probably shouldnt be using this package.

[2022-03-07 18:29] olegjunios commented on #292
look, i'm trying get media from copied instagram stories
early i used SwiftyInsta but now is not supported
this is my code where i get recent stories but is not what I need
<img width="909" alt="Снимок экрана 2022-03-07 в 20 26 05" src="https://user-images.githubusercontent.com/94039262/157095028-aad57e83-4c88-4829-85ea-53b22b814f60.png">

<img width="1159" alt="Снимок экрана 2022-03-07 в 20 28 32

[2022-03-07 18:58] olegjunios commented on #292
https://www.instagram.com/stories/highlights/17939011231603196/
https://www.instagram.com/stories/alytvyk/2788645701447767756/

[2022-03-08 04:36] eak65 opened #293 "Matching feature not working?"
Hi, This library seems to be well written Great job @sbertix. I am trying to see if a user followers another user.

[code]
I expected this to return the "username" profile if the "identifier" user is following the "username". This does not happen. It returns the first page of the "identifiers" following page... How can we check if two users follower each other

[2022-03-09 16:57] olegjunios commented on #292
where i can get example URL what you need?

[2022-03-11 08:44] olegjunios opened #294 "error when trying to get media from a copied link from a private account"
if i try paste link from public account - function worked (public account url: https://www.instagram.com/p/CZ1X_PVorS4/ )
if i paste link from private account - i getting this error: (private account url: https://www.instagram.com/p/CXdy1B-oDnSqOYMQ5fGdSgsHOBwzsdUehXouis0/)

maybe it happened after a different number of characters after "p/"

how i can fix it? have any ideas?

<img width="1274" al

[2022-03-29 15:46] sbertix commented on #294
Hey @olegjunios,

Sorry for the late reply.
Unfortunately I haven't really found a work around for this, so I'm planning on removing this method from `6.0.0`, being, also, strictly speaking not part of the Instagram Private API (it's more of an accessory).

[2022-03-29 16:01] sbertix commented on #293
Hey @eak65,

Thank you :blush: and sorry for the late reply.

If one of the two profiles corresponds to the logged in user you could do `Endpoint.Friendship.summary(for:)`, passing the identifier of the other one.

Otherwise, there's not a "quick" way to check for "following" status between two users when one of them is not the logged in account, because of API limitations. Your best bet is fetchi

[2022-03-29 16:03] sbertix commented on #292
Hey @olegjunios,

**Swiftagram** is a client for Instagram Private API. Reading stories and highlights URLs is not supported, and won't be, cause it's outside the scopes of this.

Let me know if I misunderstood the request, though.

_Also, please make sure to use the **Discussions** page of the repo next time you're looking for help._

[2022-03-29 16:03] #292 closed, assigned to sbertix

[2022-03-29 16:47] sbertix commented on #285
Hey @germ1nand0,

Sorry for the late reply 😢
You would need to call `Endpoint.Media.Stories.owned(by: ["highlight:XXXXXX"])` passing the identifier of the highlight tray item you received in place of `highlight:XXXXXX`. Unfortunately this endpoint is a bit of a hit or miss and right now it appears to return some error.
I'll try and fix it for `6.0.0`.

_Also, please make sure to use the **Discussi

[2022-03-29 16:51] sbertix commented on #284
Hey @vasylboy90,

**Swiftagram** is a Swift client for the Instagram Private API, meaning you need to log in and then find the media you're referring to within the API.
Once you have that, let's call `identifier`, you can then access all comments by using `Endpoint.Media.Posts.comments(for:startingAt:)`, and all media-related info by calling `Endpoint.Media.summary(for:)`.

_Also, please make sure

[2022-03-29 16:51] #284 closed, assigned to nobody

[2022-03-29 16:52] #285 closed, assigned to nobody

[2022-03-29 16:54] sbertix commented on #278
Hey @yusuftor,

Sorry for the late reply.
Instagram does not appear to use a single threshold for rate limiting calls, but it's depending, instead, on the logged in account behavior.

That said, some endpoints (e.g. followers and following, or ones that are not related directly to the logged in user) should be called with an added level of caution.

_No worries for the `bug` label. Next time, make

[2022-03-29 16:56] #293 closed, assigned to sbertix

[2022-03-29 16:56] #278 closed, assigned to sbertix

[2022-03-29 16:58] sbertix commented on #262
Hey @joshuazmiller, @MariaJsn and @yusuftor,

Sorry for the long wait 😢
I guess this might have been an iOS "bug" (something similar would happen with logging inside the Twitter app), cause I'm not able to replicate this anymore.

[2022-03-29 16:58] #262 closed, assigned to sbertix

[2022-03-29 16:59] sbertix commented on #267
Hey @mahdi-saberi,

It should totally be a nice thing to have 💪
I'll move this to the **Discussions** as a feature request.

[2022-03-29 16:59] #267 closed, assigned to nobody

[2022-03-29 17:20] #294 closed, assigned to sbertix

[2022-04-11 04:23] ramimoghrabi opened #297 "Visual Login issue"
- [x] I've searched past issues and I couldn't find reference to this.

version 6.0.0

While using the visual login method as stated in the example and as below :

Authenticator.transient
                    .visual(filling: self.view)
                    .authenticate()
                    .prepare(with: .combine(session: .ephemeral))
                    .sink(receiveCompletion: { _ in self.dismi

[2022-05-14 18:26] PunitDhama opened #298 "Login"
Can you please let me know how we can implement login and get followers functionality in my old project. In new swiftagram demo is in swift ui. Can you please help me for this.
Thanks

[2022-06-23 15:40] galblank commented on #88
@sbertix  - there is no Friendship or follow option available for some reason , am I missing something ?
thanks

[2022-06-26 19:28] galblank opened #301 "Endpoint.user("user_identifier").follow() doesn't work"
- [ ] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
latest

**Describe the bug**
After getting user's secret and trying to call the following API, nothing actually happens and the user is not beginning to follow the user provided in the "user_identifier"
Endpoint.user("user_identifier").follow() doesn't work

**To reproduce**
Steps to reproduce the behavi

[2022-07-12 19:29] ansh commented on #18
@sbertix Any ideas about this issue?

[2022-07-12 19:36] ansh commented on #18
@bariscck Did you ever manage to fix this?

[2022-07-21 15:50] olegjunios opened #302 "login error ios 15"
i have some issues with login using Swiftagram WebView-based Authentication and Basic Authenticator

The first problem with Basic:
after test instagram account username and password are entered i send request.
when i validate profile i get message from switch-case Authenticator.Error.generic(String) - "checkpoint_challenge_required"
what could cause  the problem ?
my code:

**Authenticator.keychai

[2022-09-01 19:17] yildirimatcioglu opened #303 "Followers/followings do not have avatar"
When you get the users followers/followings api call do not back hd profile image as a result of it there is no avatar. but api return profile_pic_url you should wrap that case to use profile_pic_url

[2022-09-07 16:07] #303 closed, assigned to sbertix

[2022-10-19 21:59] mycroftcanner opened #304 "Swift Concurrency API"
Do you have any plan to implement a Swift Concurrency API?

Using combine feels so cumbersome now.

[2022-11-01 14:03] sbertix commented on #301
Hey @galblank.
Sorry for the super late reply.

There appears to be an error in your code. The first `summary` call is unneeded and then you're not flat mapping the `Publisher` to wait for `follower` to return. You can do something like:

[code]

Or flat mapping the result if you're doing something sooner with `summary`:

[code]

[2022-11-01 14:03] #301 closed, assigned to sbertix

[2022-11-01 14:05] sbertix commented on #304
Hey @mycroftcanner, sorry for the late reply.
Theoretically there is a beta setup, on another branch, with `ComposableRequest` 6 that works with structured concurrency. However, I had to stop working on this for some personal issues and I never completed the web-based authentication for it.

I might try and come back to it in the near future, but ETA. Sorry

[2022-11-01 14:05] #304 closed, assigned to nobody

[2022-11-08 06:00] DrewKiino opened #305 "Crash when using a media URL from a private user that my user follows"
- [x] I've searched past issues and I couldn't find reference to this.

**Swiftagram version**
e.g. `5.4.0`, etc.

**Describe the bug**
Pasting a followed private user's post causes a crash

**To reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
sdk does not crash.

**Additional context**
go to Instagram in t

[2022-11-13 19:24] AhmedShammala opened #307 "Crash at 6.0.0 Build"
- [x] I've searched past issues and I couldn't find reference to this.

**6.0.0**
Crash once I click to show the LoginView

Crash message :
'Requests.Receivables.FlatMap<Requests.Receivables.Switch<Requests.Receivables.Switch<Requests.Receivables.Future<Requests.URLSessionCombineRequester, ()>, Requests.Receivables.Future<Requests.URLSessionCombineRequester, Swiftagram.AuthenticatorWebView<Request